﻿@using Resources;
@using Models.Core
@{
    ViewBag.Title = Resource.Approvals;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("EmployeeId")
@Html.Hidden("TimseheetDate")
@Html.Hidden("PeriodId")

@Html.Hidden("hdfPeriodText")
@Html.Hidden("hdfAction")

<div class="Timesheet" style="margin-left:50px;margin-right:50px">
    <div class="col-md-12 noPaddingRight">
        <div class="col-md-12">
            <div class="col-md-4">
                <h3>@Resource.Approvals</h3>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                @Html.Kendo().TextBox().Name("txtSearchName").HtmlAttributes(new { @style = "width:100%" })
                <label> @Resource.Name</label>
            </div>
            <div class="col-md-2">
                @Html.Kendo().TextBox().Name("txtSearchId").HtmlAttributes(new { @style = "width:100%" })
                <label>ID</label>
            </div>
            <div class="col-md-2">
                @Html.Kendo().DatePicker().Name("txtSearchFrom").HtmlAttributes(new { @style = "width:100%" })
                <label> @Resource.From</label>
            </div>
            <div class="col-md-2">
                @Html.Kendo().DatePicker().Name("txtSearchTo").HtmlAttributes(new { @style = "width:100%" })
                <label> @Resource.To</label>
            </div>
            <div class="col-md-2">
                @Html.Kendo().Button().Name("btnSearh").Content(Resource.Search).HtmlAttributes(new { @style = "width:100%" }).Events(ev => ev.Click("SearchClick")).Icon("search")
            </div>
            <div class="col-md-2">
                @Html.Kendo().Button().Name("btnClear").Content(Resource.ClearFilter).HtmlAttributes(new { @style = "width:100%" }).Events(ev => ev.Click("ClearClick")).Icon("cancel")
            </div>
        </div>
        <div class="col-md-12">
            @*<div class="col-md-1">
                    <label> @Resource.Status </label>
                </div>*@
            <div class="col-md-1">
                @Html.Kendo().CheckBox().Name("chkNotCreated").Label(Resource.NotCreated).HtmlAttributes(new { @class = "searchstatus", status = "notcreated" })
            </div>
            <div class="col-md-1">
                @Html.Kendo().CheckBox().Name("chkPendingSubmission").Label(Resource.PendingToSubmit).HtmlAttributes(new { @class = "searchstatus", status = "pendingsubmission" })
            </div>
            <div class="col-md-1">
                @Html.Kendo().CheckBox().Name("chkSubmitted").Label(Resource.Submitted).HtmlAttributes(new { @class = "searchstatus", status = "submitted" }).Checked(true)
            </div>
            <div class="col-md-1">
                @Html.Kendo().CheckBox().Name("chkApproved").Label(Resource.Approved).HtmlAttributes(new { @class = "searchstatus", status = "approved" })
            </div>
            <div class="col-md-1">
                @Html.Kendo().CheckBox().Name("chkSentToSAP").Label(Resource.SentToSap).HtmlAttributes(new { @class = "searchstatus", status = "senttosap" })
            </div>
            <div class="col-md-1">
                @Html.Kendo().CheckBox().Name("chkRevision").Label(Resource.SentToRevision).HtmlAttributes(new { @class = "searchstatus", status = "revision" })
            </div>
        </div>
        <hr class="searchhr" style="margin-bottom:10px" />
        <div class="col-md-6">
            @(Html.Kendo().Grid<EmployeeInfoModel>().Name("employeeGrid")
                                    .Columns(col =>
                                    {
                                        col.Bound(p => p.PersonId).Hidden();
                                        col.Bound(p => p.EmployeeIdentification).Title("ID");
                                        col.Bound(p => p.FullName).Title(Resource.Name);
                                        col.Bound(p => p.Company).Title(Resource.Company);
                                        col.Bound(p => p.CostCenterDescription).Title(Resource.CostCenter);
                                        col.Bound(p => p.ExemptString).Title(Resource.Exempt);
                                    })
                                    .ClientDetailTemplateId("EmployeePeriods")
                                    .HtmlAttributes(new { @class = "formElement", @style = "margin-top:0px" })
                                    .NoRecords(Resource.NoResultsToDisplay)
                                    .DataSource
                                    (
                                            ds => ds
                                            .Ajax()
                                            .Model(m =>
                                            {
                                                m.Id(p => p.Id);
                                            })
                                            .Read(read => read.Action("SearchEmployees", "Approvals").Data("GetSearchReadData"))
                                    )
            )

        </div>
        <div id="divEmployeeInfo" class="col-md-6 noPaddingRight timesheetselection" style="display:none">
        </div>
    </div>
    <hr class="searchhr" style="margin-bottom:10px" />
    <div class="col-md-12 noPaddingRight timesheetselection" style="display:none">
        <div class="col-md-8">

        </div>
        <div class="col-md-2">
            @Html.Kendo().Button().Name("btnSendToRevision").Content(Resource.SendToRevision).HtmlAttributes(new { @style = "width:100%" }).Events(ev => ev.Click("SendToRevisionClick")).Icon("fa fa-exclamation")
        </div>
        <div class="col-md-2">
            @Html.Kendo().Button().Name("btnApprove").Content(Resource.Approve).HtmlAttributes(new { @style = "width:100%" }).Events(ev => ev.Click("ApproveClick")).Icon("tick")
        </div>
    </div>
    <div class="col-md-12 noPaddingRight timesheetselection" style="display:none">
        @Html.Action("_Timesheet", "Timesheet")
    </div>
</div>
@(Html.Kendo().Window()
                                .Title(Resource.History)
                                .Name("LogWindow").Modal(true).Visible(false).Width(400).Animation(false).Draggable(true)
                                .Content(@<text>
                                    <div class="col-md-12 noPaddingRight" id="logDiv" align="center">

                                    </div>
                                    <hr class="searchhr" style="margin-bottom:10px" />
                                    <div class="col-md-12 noPaddingRight" style="margin-top:10px;">
                                        <div class="col-md-8">
                                        </div>

                                        <div class="col-md-4 noPaddingRight">
                                            @( Html.Kendo().Button().Name("btnLogWindowClose").Content("Ok").HtmlAttributes(new { type = "button", style = "width:100%" }).Events(e => e.Click("CloseLogWindow")).Icon("tick") )
                                        </div>

                                    </div>
                                </text>)
                                                                    .Actions(actions => actions.Close()))
<script id="EmployeePeriods" type="text/kendo-tmpl">

    @(Html.Kendo().Grid<TimesheetPeriodModel>().Name("gridPeriod#=PersonId#")
                                        .Columns(col =>
                                        {
                                            col.Bound(p => p.PeriodId).Hidden();
                                            col.Bound(p => p.EmployeeId).Hidden();
                                            col.Bound(p => p.Status).Hidden();
                                            col.Bound(p => p.FromDate).Title(Resource.From).Format("{0:MM/dd/yyyy}").HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align: center" });
                                            col.Bound(p => p.ToDate).Title(Resource.To).Format("{0:MM/dd/yyyy}").HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align: center" });
                                            col.Bound(p => p.StatusString).Title(Resource.Status).HtmlAttributes(new { @class = "statusfield" });
                                            col.Bound(p => p.LogDate).Title(Resource.StatusDate).Format("{0:MM/dd/yyyy}").HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align: center" }); ;
                                            col.Command(command =>
                                            {
                                                command.Custom("LoadTimesheet").Text(" ").Click("LoadTimesheet").HtmlAttributes(new { @class = "k-icon k-edit", title=Resource.EditTimesheetDistribution });
                                                command.Custom("LoadLog").Text(" ").Click("LoadLogClick").HtmlAttributes(new { @class = "fa fa-bars", title=Resource.History });
                                                command.Custom("GoToTimesheet").Text(" ").Click("GoToTimesheetClick").HtmlAttributes(new { @class = "fa fa-arrow-right" ,title=Resource.GoToTimesheet });
                                            }).Width(170);
                                        })
                                        .HtmlAttributes(new { @class = "formElement", @style = "margin-top:0px" })
                                        .NoRecords(Resource.NoResultsToDisplay)
                                        .Events(ev => ev.DataBound("GridPeriodDataBound"))
                                        .DataSource
                                        (
                                                ds => ds
                                                .Ajax()
                                                .Model(m =>
                                                {
                                                    m.Id(p => p.PeriodId);
                                                })
                                                .Read(read => read.Action("GetEmployeePeriods", "Approvals").Data("GetPeriodReadData(#=PersonId#)"))
                                        )
                                        .ToClientTemplate()
    )
</script>
<script>

    $(document).ready(function ()
    {
        $("#timesheetGrid").kendoTooltip({
            filter: ".k-grid-Note",
            position: "top",
            content: function (e)
            {
                var dataItem = $("#timesheetGrid").data("kendoGrid").dataItem(e.target.closest("tr"));
                return dataItem.Note;
            }
        }).data("kendoTooltip");
    });

    function GoToTimesheetClick(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var fromDate = (dataItem.FromDate.getMonth() + 1) + '/' + dataItem.FromDate.getDate() + '/' + dataItem.FromDate.getFullYear();

        var url = '@Url.Action("Index", "Timesheet")' + '?employeeId=_employeeId_&timesheetDate=_timesheetdate_';
        window.location.href = url.replace('_employeeId_', dataItem.EmployeeId).replace('_timesheetdate_', fromDate);
    }

    function SendToRevisionClick()
    {
        $('#ConfirmationWindow .actionText').html('@Resource.SendToRevision')
        $('#hdfAction').val('revision');
        $('#tsSubmintErrors').html('');
        $('#supervisorplaceholder').html("");
        $('#periodplaceholder').html($('#hdfPeriodText').val() + '?')
        $('#confirmationmessplaceholder').html("@Resource.TimesheetSendToRevisionConfirmation" + ' ')
        $('#confirmationmessplaceholder').text($('#confirmationmessplaceholder').text().replace('<<EmployeeName>>', $('#lblFullName').text()));
      
        $('#ConfirmationWindow').data('kendoWindow').center().open();
    }

    function ApproveClick()
    {
        $('#ConfirmationWindow .actionText').html('@Resource.Approve')
        $('#hdfAction').val('approve');
        $('#tsSubmintErrors').html('');
        $('#supervisorplaceholder').html("");
        $('#periodplaceholder').html($('#hdfPeriodText').val()+'?')
        $('#confirmationmessplaceholder').html("@Resource.TimesheetApproveConfirmation" + ' ')
        $('#confirmationmessplaceholder').text($('#confirmationmessplaceholder').text().replace('<<EmployeeName>>', $('#lblFullName').text()));

        $('#ConfirmationWindow').data('kendoWindow').center().open();
    }

    function CloseLogWindow()
    {
        $('#LogWindow').data('kendoWindow').close();
    }

    function LoadEmployeeInfo(empId)
    {
        $("#divEmployeeInfo").load('@Url.Action("_EmployeeInfo", "Approvals")' + '?employeeId=' + empId, function ()
        {

        });
    }

    function LoadLog(periodId)
    {
        $("#logDiv").load('@Url.Action("_TimesheetPeriodLog", "Approvals")' + '?periodId=' + periodId, function ()
        {
            $('#LogWindow').data('kendoWindow').center().open();
        });
    }

    function LoadLogClick(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $('#PeriodId').val(dataItem.PeriodId)
        LoadLog(dataItem.PeriodId);
    }

    function LoadTimesheet(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $('#hdfPeriodText').val((dataItem.FromDate.getMonth() + 1) + '/' + dataItem.FromDate.getDate() + '/' + dataItem.FromDate.getFullYear() + ' - ' + (dataItem.ToDate.getMonth() + 1) + '/' + dataItem.ToDate.getDate() + '/' + dataItem.ToDate.getFullYear())
        $('.selectedgridrow').removeClass('selectedgridrow');
        $(e.currentTarget).closest("tr").addClass('selectedgridrow');

        LoadEmployeeInfo(dataItem.EmployeeId);

        $('#EmployeeId').val(dataItem.EmployeeId);
        $('#TimseheetDate').val((dataItem.FromDate.getMonth() + 1) + '/' + dataItem.FromDate.getDate() + '/' + dataItem.FromDate.getFullYear());
        $('#timesheetGrid').data('kendoGrid').dataSource.read();
        $('.timesheetselection').show();
    }

    function GetPeriodReadData(personId)
    {
        return { personId: personId }
    }

    function GridPeriodDataBound()
    {
        var grid = this;
        grid.items().each(function (i, item)
        {
            $(item).find(".statusfield").addClass(grid.dataItem(item).Status);

            $(item).find(".k-edit").hide();
            $(item).find(".fa-arrow-right").hide();

            if (grid.dataItem(item).Status == 'submitted')
            {
                $(item).find(".k-edit").show();
                $(item).find(".fa-arrow-right").show();
            }
        });
    }

    function GetSearchReadData()
    {
        var statusList = [];
        $('.searchstatus:checked').each(function (i, item)
        {
            statusList.push($(item).attr('status'));
        });

        return {
            name: $("#txtSearchName").val(),
            id: $("#txtSearchId").val(),
            fromDate: $('#txtSearchFrom').val(),
            toDate: $('#txtSearchTo').val(),
            statusList: statusList
        };
    }

    function SearchClick()
    {
        $('.timesheetselection').hide();
        $('#employeeGrid').data('kendoGrid').dataSource.read();
    }

    function ClearClick()
    {
        $('#txtSearchName').val('');
        $('#txtSearchId').val('');
        $('#txtSearchFrom').val('');
        $('#txtSearchTo').val('');

        $('.searchstatus').prop('checked', false);
    }



</script>
