﻿@using Resources;
@using System.Threading;
@using System.Globalization;
@using Resources;

<head>
    <title>SSS</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/login.js")"></script>

    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
   
</head>

@{
    var error = (String)ViewData["error"];

    int culture = 0;

    if (Session["CurrentCulture"] != null)
    {
        int.TryParse(Session["CurrentCulture"].ToString(), out culture);
    }

    if (culture == 0)
    {
        <script src="@Url.Content("~/Scripts/Cultures/messages_en.js")"></script>
    }
    else
    {
        <script src="@Url.Content("~/Scripts/Cultures/messages_es.js")"></script>
    }

    Session["CurrentCulture"] = culture;

    string storedUser = string.Empty;
    if (ViewData["storedUser"] != null)
    {
        storedUser = ViewData["storedUser"].ToString();
    }

    string storedPass = string.Empty;
    if (ViewData["storedPass"] != null)
    {
        storedPass = ViewData["storedPass"].ToString();
    }
    }

<style>

    label{font-weight:400; color:black}
    #langEsp
    {
        margin-top: 1%;
        margin-right: .25%;
        background-image: url(../Images/SP.png);
        width: 36px;
        height: 36px;
    }

        #langEsp:hover
        {
            background-image: url(../Images/SP_.png);
        }

    #langEng
    {
        margin-top: 1%;
        margin-right: 0.5%;
        width: 36px;
        height: 36px;
        background-image: url(../Images/EN.png);
    }

        #langEng:hover
        {
            background-image: url(../Images/EN_.png);
        }

    footer {
        background-color: #ccc;
        height: 50px;
        color: #ffffff;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
    }

        footer p
        {
            color: #ffffff;
            vertical-align: middle;
        }

    h2 {
        color: #234086
    }
</style>

<body>
    <div class="loginContainer">
        <div class="loginBoxOut">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "loginform", @name = "loginform" }))
            {
                <div class="loginBoxIn">
                    <div class="form-group" align="center">
                        <img src="~/Content/Images/logo.png" />
                        <h2>@Resource.Welcome</h2>
                        <br />
                        <label>@Resource.Username</label>
                        <input type="text" class="loginFormElement" name="user" id="user" value="@storedUser">
                        <label>@Resource.Password</label>
                        <input type="password" class="loginFormElement" name="password" id="password" value="@storedPass">
                        @Html.Kendo().CheckBox().Name("rememberme").Label(Resource.RememberMe).Checked(storedUser == string.Empty?false:true)
                        <button class="loginFormElement blueButton" id="submit" type="submit"><span>@Resource.SignIn.ToUpper()</span></button>
                        <br />

                    </div>
                    <div class="errorMsg" style="@(error == null ? Html.Raw("display:none;") : Html.Raw("")  )  ">
                        <label class="error">@Html.Raw(error)</label>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
<footer>
    <p>&copy; @DateTime.Now.Year Triple-S Salud</p>
</footer>