﻿@using SSS.Models;
@using Resources;
@using Models.Core
@model EmployeeInfoModel
@Html.Hidden("hdfSupervisorPlaceHolder", Model.SupervisorString)
@Html.Hidden("hdfCostCenterId", Model.CostCenterId)

<div class="col-md-12">
    <div class="col-md-12">
        <h4>@Resource.EmployeeInfo</h4>
    </div>
    <div class="col-md-12" style="margin-bottom:5px">
        @Html.LabelFor(m => m.FullName, Model.FullName, new { @style = "width:100%; font-weight:700; margin-bottom:0", id = "lblFullName" })
        @Resource.Name
    </div>
    <div class="col-md-12" style="margin-bottom:5px">
        @Html.LabelFor(m => m.EmployeeIdentification, Model.EmployeeIdentification, new { @style = "width:100%; font-weight:700; margin-bottom:0" })
        @Resource.EmployeeId
    </div>
    <div class="col-md-12" style="margin-bottom:5px">
        @Html.LabelFor(m => m.Company, Model.Company, new { @style = "width:100%; font-weight:700; margin-bottom:0" })
        @Resource.Company
    </div>
    <div class="col-md-12" style="margin-bottom:5px">
        @Html.LabelFor(m => m.CostCenterCode, Model.CostCenterDescription + " (" + Model.CostCenterCode + ")", new { @style = "width:100%; font-weight:700; margin-bottom:0" })
        @Resource.CostCenter
    </div>
    <div class="col-md-12" style="margin-bottom:5px">
        @Html.LabelFor(m => m.Exempt, Model.Exempt ? Resource.Yes : "No", new { @style = "width:100%; font-weight:700; margin-bottom:0" })
        @Resource.Exempt
    </div>
    <div class="col-md-12" style="margin-bottom:5px">
        @foreach (SupervisorInfoModel item in Model.SupervisorList)
        {
            @Html.Label("sup_" + item.PersonId.ToString(), item.FullName, new { @style = "width:100%; font-weight:700; margin-bottom:0" })
        }
        Supervisor
    </div>
</div>
