﻿@using Resources;
@using Kendo.Mvc.UI
@using System.Threading;
@using System.Globalization;
@using Models;
<!DOCTYPE html>
<html style="padding-bottom:50px">
<head>
    <title>@ViewBag.Title - SSS</title>

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.bootstrap.min.css.map")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/kendo.sss.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome-kendo-icons.css")" rel="stylesheet" type="text/css" />



    <script>
         var fileDownloaderUrl = '@Url.Action("DownloadFile", "File")';
    </script>

</head>

<body>
    <script>

        function ChangeLanguage()
        {
            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("ChangeCulture", "Login")',
                data: { language: $('#ddLang').data('kendoDropDownList').value() }, // serializes the form's elements.
                success: function (result)
                {
                    if (result.status == "success")
                    {
                        location.reload();
                    }
                }
            });
        }

    </script>f
    @{
        string loggedAs = Resource.LoggedAs + ": ";
        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
        Models.USERACCOUNT user = (Models.USERACCOUNT)Session["User"];
        string fullName = (user != null && user.PERSON != null) ? user.PERSON.FULLNM : string.Empty;
        fullName = loggedAs + fullName;

        List<string> list = (List<string>)Session["PermissionList"];

        bool timesheetPermission = list.Where(s => s.Contains("Timesheet")).FirstOrDefault() != null ? true : false;
        bool approvalsPermission = list.Where(s => s.Contains("Approvals")).FirstOrDefault() != null ? true : false;
        bool profilePermission = list.Where(s => s.Contains("Permissions")).FirstOrDefault() != null ? true : false;
        bool payCodePermission = list.Where(s => s.Contains("PayCodes")).FirstOrDefault() != null ? true : false;
        bool payRulePermission = list.Where(s => s.Contains("PayRules")).FirstOrDefault() != null ? true : false;
        bool reportsPermission = list.Where(s => s.Contains("Reports")).FirstOrDefault() != null ? true : false;

        int lang = 0;
        if (Session["CurrentCulture"] != null)
        {
            int.TryParse(Session["CurrentCulture"].ToString(), out lang);
        }
    }
    <div class="container">
        <div class="row k-header col-md-12" id="divHeader">
            <div class="col-md-8">
                <img src="~/Content/Images/logo.png" class="headerlogo" />
            </div>
            <div class="col-md-4">
                <div class="col-md-12" align="right" style="font-size:medium">
                    <label class="headerrightcontent">@fullName</label> @Html.ActionLink("(" + Resource.Logout + ")", "Logout")
                </div>
                <div class="col-md-12" align="right">
                    @Html.Kendo().DropDownList().Name("ddLang").Items(i => { i.Add().Text("Español").Value("1"); i.Add().Text("English").Value("0"); }).HtmlAttributes(new { @style = "width:80px" }).Events(ev => ev.Change("ChangeLanguage")).Value(lang.ToString())
                </div>
            </div>

        </div>
        <div class="col-md-12">
            @(Html.Kendo().Menu().Name("mainMenu").HoverDelay(0).Items(m =>
                {
                    if (timesheetPermission)
                    {
                        m.Add().Text(Resource.Timesheet).HtmlAttributes(new { }).Action("Index", "Timesheet", new { employeeId = user.PERSON.PERSONID });
                    }

                    if (approvalsPermission)
                    {
                        m.Add().Text(Resource.Approvals).HtmlAttributes(new { }).Action("Index", "Approvals");
                    }   
                    if (reportsPermission)
                    {
                        m.Add().Text(Resource.Reports).HtmlAttributes(new { }).Action("Index", "Reports");
                    }

                    if (profilePermission || payCodePermission)
                    {
                        m.Add().Text(Resource.Configuration).Items(i =>
                        {
                            if (profilePermission)
                            {
                                i.Add().Text(Resource.Permissions).Action("Permissions", "Configuration");
                            }

                            if (payCodePermission)
                            {
                                i.Add().Text(Resource.PayCodes).Action("PayCodes", "Configuration");
                            }
                            if (payRulePermission)
                            {
                                i.Add().Text(Resource.PayRules).Action("PayRules", "Configuration");
                            }

                        });
                    }
                }))

        </div>
    </div>
    <div class="body-container">
        @RenderBody()
    </div>
    <footer class="footer" id="divFooter">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
            <div class="container-fluid">
                <p>&copy; @DateTime.Now.Year Triple-S Salud</p>
            </div>
        </div>
        <div class="col-xs-2">

        </div>
        <div class="col-xs-2">
            <div class="col-xs-6">
                @*<a id="lnkActionSave" class="menuitem" style="display:none">@Resource.Save.ToUpper()</a>*@
            </div>
            <div class="col-xs-6">
                @*<a id="lnkActionSubmit" class="menuitem" style="display:none">@Resource.Submit.ToUpper()</a>*@
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function ()
        {
            $("#menu").kendoMenu();

            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e)
        {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }

        function TimesheetConfirmationWindowOk()
        {
            if ($('#hdfSupervisorPlaceHolder').val() == '')
            {
                return;
            }
            // ShowModal("fullModal");

            $.ajax({
                type: "Post",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: '@Url.Action("TimesheetAction", "Timesheet")',
                data: JSON.stringify(
                    {
                        tsAction: $('#hdfAction').val(),
                        employeeId: $('#EmployeeId').val(),
                        timesheetDate: $('#TimseheetDate').val()
                    }),
                success: function (result)
                {
                    if (result.status == "success")
                    {
                        if (typeof GetPeriodInfo === "function")
                        {
                            GetPeriodInfo();
                        }

                        if (typeof LoadCalendarCss === "function")
                        {
                            LoadCalendarCss();
                        }
                        if (typeof SearchClick === "function")
                        {
                            SearchClick();
                        }

                        NotificationMessage('', result.mess, 's');

                        $('#ConfirmationWindow').data('kendoWindow').close();
                    }
                    if (result.status == "invalid")
                    {
                        $('#tsSubmintErrors').html(result.validationSummary);
                    }

                }
            });
        }

        function ConfirmationWindowClose()
        {

        }

    </script>
</body>
</html>
<div id="fullModal" class="modal fade" role="dialog">

</div>
<div class="alert" id="notificationMessage">
    <strong id="strongMessage"></strong>
    <img src="~/Content/Images/checked.png" id="imgNotificationImage" />  <label id="mess"></label>
</div>
@(RenderPage("EditorTemplates/GridErrorHandler.cshtml"))
@RenderPage("~/Views/Shared/EditorTemplates/Window.cshtml", new { buttonAction = "OK", action = "TimesheetConfirmationWindowOk", windowName = "ConfirmationWindow", width = "600", title = Resource.Confirmation, onClose = "ConfirmationWindowClose", content = "<div class='col-md-12' ><label id='confirmationmessplaceholder'></label>&nbsp;<label id='periodplaceholder'>''</label></div><div class='col-md-12'><label id='supervisorplaceholder'></label></div><div class='col-md-12' id='tsSubmintErrors'></div>" })
