﻿@using SSS.Models;
@using Resources;
@using Models.Core
@model List<TimesheetPeriodLogModel>
<script>
    function GridPeriodLogDataBound()
    {

    }
</script>
<div class="col-md-12">
    @(Html.Kendo().Grid(Model).Name("gridPeriodLog")
            .Columns(col =>
            {
                col.Bound(p => p.Id).Hidden();
                col.Bound(p => p.PeriodId).Hidden();
                col.Bound(p => p.Date).Title(Resource.Date).Format("{0:MM/dd/yyyy hh:mm:ss tt}").HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align: center" });
                col.Bound(p => p.ActionString).Title(Resource.Status).Format("{0:MM/dd/yyyy}").HtmlAttributes(new { @class = "statusfield" }); ;
                col.Bound(p => p.Name).Title(Resource.Status);


            })
            .HtmlAttributes(new { @class = "formElement", @style = "margin-top:0px" })
            .NoRecords(Resource.NoResultsToDisplay)
            .Events(ev => ev.DataBound("GridPeriodLogDataBound"))
        )
</div>  

