﻿
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center"><img src="~/Content/Images/forbidden.png" /><h4 style="display:inline-block; margin:25px;">@Resources.Resource.ProfileDontHavePermission</h4><img src="~/Content/Images/forbidden.png" /> </div>
