﻿
@using Resources
@using SSS.Models
@using System.Resources
@model IEnumerable<PayCodeConfigurationModel>
@{ 
    bool showRadio = false;
    if(ViewData["ShowRadio"]!=null)
    {
        bool.TryParse(ViewData["ShowRadio"].ToString(), out showRadio);
    }


}

<script>

    function CheckBoxChanged(e)
    {
        $(e).attr('changed', 'true');
    }

</script>
<form id="PayCodesForm">
    <div class="col-md-12">
        @foreach (PayCodeConfigurationModel item in Model)
        {
            if (showRadio)
            {
                <div class="col-md-2">@Html.Kendo().RadioButton().Name(item.PayCodeId.ToString()).Label(item.PayCodeName).Checked(item.Show).HtmlAttributes(new { @class = "paycodeitem", @name="regulargaycode", paycodename = item.PayCodeName, paycodeid = item.PayCodeId })</div>
            }
            else
            {
                <div class="col-md-2">@Html.Kendo().CheckBox().Name(item.PayCodeId.ToString()).Label(item.PayCodeName).Checked(item.Show).HtmlAttributes(new { @class = "paycodeitem", paycodename = item.PayCodeName, paycodeid = item.PayCodeId, isregular = item.IsRegular.ToString().ToLower(), isshow = item.IsShow.ToString().ToLower(), isovertime = item.IsOvertime.ToString().ToLower(), issendtosap = item.IsSendToSap.ToString().ToLower() })</div>
            }

        }
    </div>
    <div class="col-md-12">
        <div class="col-md-8" align="right">
            <span class="k-textbox k-space-right" style="width:250px">
                @Html.Kendo().TextBox().Name("txtFilterPayCodes").HtmlAttributes(new { placeholder = Resource.Search, onkeyup = "FilterPayCodesTextBoxKeyDown()" })
                <a class="k-icon k-i-search">&nbsp;</a>
            </span>
            <span class="k-icon fa-eraser" onclick="ClearFilterpayCodesClick()" title="@Resource.ClearFilter" style="cursor:pointer">&nbsp;</span>
        </div>
        <div class="col-md-2">
            @if (!showRadio)
            {
                @(Html.Kendo().Button().Name("btnSelectAll").Content(Resource.CheckAll).HtmlAttributes(new { type = "button", style = "width:100%" }).Events(ev => ev.Click("SelectAllClick")).Icon("tick"))
            }
        </div>
        <div class="col-md-2">
            @if (!showRadio)
            {
                @(Html.Kendo().Button().Name("btnUnSelectAll").Content(Resource.UncheckAll).HtmlAttributes(new { type = "button", style = "width:100%" }).Events(ev => ev.Click("UnselectAllClick")).Icon("cancel"))
            }
        </div>
    </div>
</form>
<hr class="searchhr" style="margin-bottom:10px" />
