﻿
@using Resources
@using SSS.Models
@using System.Resources
@model IEnumerable<PermissionModel>
@{
    ResourceManager rm = new ResourceManager(typeof(Resource));
}
<script>

    function CheckBoxChanged(e)
    {
        $(e).attr('changed', 'true');
    }

</script>
<form id="SectionsForm">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="col-md-2">@Html.Kendo().CheckBox().Name(item.Id.ToString()).Label(" " + rm.GetString(item.Name)).Checked(item.Checked).HtmlAttributes(new { onchange="CheckBoxChanged(this)", sectionId = item.SectionId, profileId = item.ProfileId})</div>
        }
    </div>
</form>
<hr class="searchhr" />
