﻿@using Resources
@using Models
@using System.Resources
@using SSS.Models
@{
    ViewBag.Title = Resource.PayCodes;
    Layout = "~/Views/Shared/_Layout.cshtml";

    ResourceManager rm = new ResourceManager(typeof(Resource));
}

<div id="PayCodeForm">
    <div class="col-md-12">
        <div class="col-md-12">
            <h4>@Resource.PayCodes</h4>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                @(Html.Kendo().DropDownList().Name("ddlAction")
                                          .Items(i =>
                                          {
                                              i.Add().Text(Resource.DisplayInTimesheet).Value("0");
                                              i.Add().Text(Resource.RegularHoursPayCode).Value("1");
                                              i.Add().Text(Resource.OvertimeHoursPayCode).Value("2");
                                              i.Add().Text(Resource.DefaultRegularPayCode).Value("3");
                                              i.Add().Text(Resource.PayCodesForSapFile).Value("4");
                                          })
                                          .HtmlAttributes(new { @style = "width:80%" })
                                          .Events(ev => ev.Change("ActionChanged"))
                )
            </div>
            <div class="col-md-8">

            </div>
            <div class="col-md-2">
                @Html.Kendo().Button().Name("btnSavePayCodes").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100%" }).Events(ev => ev.Click("SavePayCodes")).Icon("tick")
            </div>
          
        </div>
        <div class="col-md-12">
            @Html.Label(Resource.SelectPayCodesForTimesheet, new { id = "lblPayCodeAction" })
        </div>
    </div>
    <hr class="searchhr" style="margin-bottom:10px" />
    <div id="divPayCodes"></div>
   
</div>
<script>

    function SavePayCodes()
    {
        ShowModal("fullModal");

        var checkedList = [];
        var uncheckedList = [];
        $('.paycodeitem:checked').each(function (i, item)
        {
            checkedList.push($(item).attr('paycodeid'));
        });
        $('.paycodeitem:not(:checked)').each(function (i, item)
        {
            uncheckedList.push($(item).attr('paycodeid'));
        });

        var payCodeAction = $('#ddlAction').data('kendoDropDownList').value()

        $.ajax({
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '@Url.Action("SavePayCodes", "Configuration")',
            data: JSON.stringify({ checkedList, uncheckedList, payCodeAction}), // serializes the form's elements.
            success: function (result)
            {
                HideModal("fullModal");

                if (result.status == "success")
                {
                    NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
                else
                {
                    NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
            }
        });
    }

    function FilterPayCodes()
    {
        var searchVal = $('#txtFilterPayCodes').val().toLowerCase();

        $('.paycodeitem').each(function (i, item)
        {
            if ($(item).attr('paycodename').toLocaleLowerCase().includes(searchVal))
            {
                $(item).closest('div').show();
            }
            else
            {
                $(item).closest('div').hide();
            }
        });
    }

    function FilterPayCodesTextBoxKeyDown()
    {
        FilterPayCodes();
    }

    function ClearFilterpayCodesClick()
    {
        $('#txtFilterPayCodes').val('');
        FilterPayCodes();
    }

    function SelectAllClick()
    {
        $('.paycodeitem').prop("checked", true)
    }

    function UnselectAllClick()
    {
        $('.paycodeitem').prop("checked", false)
    }

    function ActionChanged()
    {
        ShowModal("fullModal");

        switch ($('#ddlAction').data('kendoDropDownList').value())
        {
            case "0":
                {
                    $('#lblPayCodeAction').html("@Resource.SelectPayCodesForTimesheet")
                    break;
                }
            case "1":
                {
                    $('#lblPayCodeAction').html("@Resource.SelectRegularPayCodes")
                    break;
                }
            case "2":
                {
                    $('#lblPayCodeAction').html("@Resource.SelectOvertimePayCodes")
                    break;
                }
            case "3":
                {
                    $('#lblPayCodeAction').html("@Resource.SelectPayCodeConsideredRegularConcept")
                    break;
                }
            case "4":
                {
                    $('#lblPayCodeAction').html("@Resource.SelectPayCodesThatWillBeSentToSapFile")
                    break;
                }
        }

        LoadPayCodes();
    }

    function LoadPayCodes()
    {
        $("#divPayCodes").load('@Url.Action("_PayCodes", "Configuration")' + '?payCodeAction=' + $('#ddlAction').data('kendoDropDownList').value(), function ()
        {
            HideModal("fullModal");

            switch ($('#ddlAction').data('kendoDropDownList').value())
            {
                case "0":
                    {
                        $('[isregular="true"]').attr('disabled', 'disabled');
                        $('[isovertime="true"]').attr('disabled', 'disabled');
                        break;
                    }
                case "1":
                    {
                        $('[isovertime="true"]').attr('disabled', 'disabled');
                        break;
                    }
                case "2":
                    {
                        $('[isregular="true"]').attr('disabled', 'disabled');
                        break;
                    }               
             
            }
        });
    }

    $(document).ready(function ()
    {
        LoadPayCodes();
    });

</script>