﻿@using Resources
@using Models
@using System.Resources
@using SSS.Models
@{
    ViewBag.Title = Resource.PayCodes;
    Layout = "~/Views/Shared/_Layout.cshtml";

    ResourceManager rm = new ResourceManager(typeof(Resource));
}
@model  List<PayRuleConfigurationModel>
<div id="PayRuleForm">
    <div class="col-md-12">
        <div class="col-md-12">
            <h4>@Resource.PayRules</h4>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

        </div>
        <div class="col-md-2">
            @Html.Kendo().Button().Name("btnSavePayRule").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100%" }).Events(ev => ev.Click("SavePayRules")).Icon("tick")
        </div>

    </div>
    <hr class="searchhr" style="margin-bottom:10px" />
    <div class="col-md-12">
        @foreach (PayRuleConfigurationModel item in Model)
        {
            <div class="col-md-2">@Html.Kendo().CheckBox().Name(item.PayRuleId.ToString()).Label(item.PayRuleName).Checked(item.Checked).HtmlAttributes(new { @class = "payruleitem", payrulename = item.PayRuleName, payruleid = item.PayRuleId })</div>
        }
    </div>
    <hr class="searchhr" style="margin-bottom:10px" />
    <div class="col-md-12">
        <div class="col-md-8" align="right">
            <span class="k-textbox k-space-right" style="width:250px">

                @Html.Kendo().TextBox().Name("txtFilterPayRules").HtmlAttributes(new { placeholder = Resource.Search, onkeyup = "FilterPayRuleTextBoxKeyDown()" })
                <a class="k-icon k-i-search">&nbsp;</a>
            </span>
            <span class="k-icon fa-eraser" onclick="ClearFilterPayRulesClick()" title="@Resource.ClearFilter" style="cursor:pointer">&nbsp;</span>
        </div>
        <div class="col-md-2">
            @(Html.Kendo().Button().Name("btnSelectAll").Content(Resource.CheckAll).HtmlAttributes(new { type = "button", style = "width:100%" }).Events(ev => ev.Click("SelectAllClick")).Icon("tick"))
        </div>
        <div class="col-md-2">
            @(Html.Kendo().Button().Name("btnUnSelectAll").Content(Resource.UncheckAll).HtmlAttributes(new { type = "button", style = "width:100%" }).Events(ev => ev.Click("UnselectAllClick")).Icon("cancel"))
        </div>
    </div>
</div>
<script>

    function SavePayRules()
    {
        ShowModal("fullModal");

        var checkedList = [];
        $('.payruleitem:checked').each(function (i, item)
        {
            checkedList.push($(item).attr('payruleid'));
        });
      
        $.ajax({
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '@Url.Action("SavePayRules", "Configuration")',
            data: JSON.stringify({ checkedList}), // serializes the form's elements.
            success: function (result)
            {
                HideModal("fullModal");

                if (result.status == "success")
                {
                    NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
                else
                {
                    NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
            }
        });
    }

    function FilterPayCodes()
    {
        var searchVal = $('#txtFilterPayRules').val().toLowerCase();

        $('.payruleitem').each(function (i, item)
        {
            if ($(item).attr('payrulename').toLocaleLowerCase().includes(searchVal))
            {
                $(item).closest('div').show();
            }
            else
            {
                $(item).closest('div').hide();
            }
        });
    }

    function FilterPayRuleTextBoxKeyDown()
    {
        FilterPayCodes();
    }

    function ClearFilterPayRulesClick()
    {
        $('#txtFilterPayRules').val('');
        FilterPayCodes();
    }

    function SelectAllClick()
    {
        $('.payruleitem').prop("checked", true)
    }

    function UnselectAllClick()
    {
        $('.payruleitem').prop("checked", false)
    }

    function ActionChanged()
    {
        ShowModal("fullModal");

        switch ($('#ddlAction').data('kendoDropDownList').value())
        {
            case "0":
                {
                    $('#lblPayCodeAction').html("@Resource.SelectPayCodesForTimesheet")
                    break;
                }
            case "1":
                {
                    $('#lblPayCodeAction').html("@Resource.SelectRegularPayCodes")
                    break;
                }
            case "2":
                {
                    $('#lblPayCodeAction').html("@Resource.SelectOvertimePayCodes")
                    break;
                }
        }

        LoadPayCodes();
    }

    function LoadPayCodes()
    {
        $("#divPayCodes").load('@Url.Action("_PayCodes", "Configuration")' + '?payCodeAction=' + $('#ddlAction').data('kendoDropDownList').value(), function ()
        {
            HideModal("fullModal");
        });
    }

    $(document).ready(function ()
    {
        LoadPayCodes();
    });

</script>