﻿@using Resources
@using Models
@using System.Resources
@using SSS.Models
@{
    /**/

    ViewBag.Title = Resource.Permissions;
    Layout = "~/Views/Shared/_Layout.cshtml";

    ResourceManager rm = new ResourceManager(typeof(Resource));

    List<AllowedCompanyModel> companies = (List<AllowedCompanyModel>)ViewData["CompanyList"];
    if (companies == null)
    {
        companies = new List<AllowedCompanyModel>();
    }
}

<script>
    function GetModuleId()
    {
        return { moduleId: $('#ddlModules').data('kendoDropDownList').value() }
    }

    function SaveProfilePermissions()
    {
        ShowModal("fullModal");

        var permissions = [];
        $("#SectionsForm input.k-checkbox").each(function (e)
        {
            if ($(this).attr("changed") == 'true')
            {
                permissions.push({ Id: $(this).prop("id"), Checked: $(this).is(":checked"), SectionId: $(this).attr("sectionid"), ProfileId: $(this).attr("profileid")  });
            }
        });

        var companies = [];
        $("#AllowedCompaniesForm input.k-checkbox:checked").each(function (e)
        {
            companies.push($(this).attr("laborlevelentryid"));
        });

        $.ajax({
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '@Url.Action("SavePermissions", "Configuration")',
            data: JSON.stringify({ permissions, companies }), // serializes the form's elements.
            success: function (result)
            {
                HideModal("fullModal");

                if (result.status == "success")
                {
                    NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
                else
                {
                    NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
            }
        });
    }

    function ProfileChanged()
    {
        LoadAppSections()
    }

    function ProfileDataBound()
    {
        LoadAppSections()
    }

    function LoadAppSections()
    {
        $("#divSections").load('@Url.Action("_Sections", "Configuration")' + '?profileId=' + $('#ddlProfiles').data('kendoDropDownList').value(), function ()
        {
            HideModal("fullModal");
        });
    }


</script>
<div style="margin:50px">
    <div id="AllowedCompaniesForm" class="col-md-6">
        <div class="col-md-12">
            <h4>@Resource.AllowedCompanies</h4>
        </div>
        <div class="col-md-12">
            <div class="col-md-10">
                <label>@Resource.SelectAllowedCompanies</label>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
        </div>

        <hr class="searchhr" />
        <div class="col-md-12">
            @foreach (AllowedCompanyModel item in companies)
            {
                <div class="col-md-4">
                    @Html.Kendo().CheckBox().Name("entryid_" + item.LaborLevelEntryId.ToString()).Label(item.Name).Checked(item.Allowed).HtmlAttributes(new { laborlevelentryid = item.LaborLevelEntryId })
                </div>
            }
        </div>
        <hr class="searchhr" />
    </div>
    <div id="PorfilePermissionsForm" class="col-md-6">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10" style="padding:0">
                    <h4 style="margin:0">@Resource.ProfilePermissions</h4>
                </div>
                <div class="col-md-2">
                    @Html.Kendo().Button().Name("btnSaveProfilePermissions").Content(Resource.Save).HtmlAttributes(new { @style = "width:100%" }).Events(ev => ev.Click("SaveProfilePermissions")).Icon("tick")
                </div>
            </div>
            <div class="col-md-4">
                @(Html.Kendo().DropDownList()
                            .Name("ddlProfiles")
                            .BindTo((List<SSS.Models.SSSListObject>)ViewData["ProfileList"])
                            .DataTextField("Description")
                            .DataValueField("Value")
                            .ValuePrimitive(true)
                            .Filter(FilterType.Contains)
                            .Events(ev => ev.DataBound("ProfileDataBound").Change("ProfileChanged")))
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-10">
                <label>@Resource.SelectPermissionsForProfile</label>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
        </div>

        <hr class="searchhr" style="margin-bottom:0" />
        <div id="divSections"></div>
    </div>
</div>

