﻿
@using Resources
@using SSS.Models
@using System.Resources
@using Models;
@using Models.Core
@model TimesheetModel
@Html.HiddenFor(m => m.EmployeeId)
@Html.HiddenFor(m => m.EmployeeIdEditingTimesheet)
@Html.HiddenFor(m => m.TimseheetDate)
<input type="hidden" id="hdfPreventSync" />
<div class="col-md-12 noPaddingRight">
    @(Html.Kendo().Grid<TimesheetGridModel>().Name("timesheetGrid")
                              .Columns(col =>
                              {
                                  col.Group(g => g.HeaderTemplate("<a class='k-button k-button-icontext k-grid-add' style='width:auto' onclick='AddNewDistributionRowClick()'><span class'k-icon k-add'></span>Add New Distribution Row</a>").Columns(c =>
                                  {
                                      c.Bound(p => p.Id).Hidden();
                                      c.Bound(p => p.Note).Hidden();
                                      c.ForeignKey(p => p.ConceptId, Model.ConceptList, "Value", "Description").Title(Resource.Concept);
                                      c.ForeignKey(p => p.CostCenterId, Model.CostCenterList, "Value", "Description").Title(Resource.CostCenter).EditorTemplateName("CostCenterAndNote").EditorViewData(new { Name = "CostCenterId", DataSource = Model.CostCenterList, ValueField = "Value", TextField = "Description" });
                                      c.ForeignKey(p => p.InternalOrderId, Model.InternalOrderList, "Value", "Description").Title(Resource.InternalOrder).Locked(true).EditorTemplateName("CascadeDropDown").EditorViewData(new { Name = "InternalOrderId", DynamicDropDownDataSource = Model.InternalOrderList, ValueField = "Value", TextField = "Description", FilterFunction = "GetSelectedCostCenter", Action = "GetInternalOrders", Controller = "Timesheet", CascadeFrom = "CostCenterId" });
                                  }));
                                  col.Group(g => g.HeaderHtmlAttributes(new { @class = "sundayheader", style = "text-align:center;" }).Columns(c =>
                                  {
                                      c.Bound(p => p.SundayReg).Title("R").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.SundayOv).Title("O").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                  }));
                                  col.Group(g => g.HeaderHtmlAttributes(new { @class = "mondayheader", style = "text-align:center;" }).Columns(c =>
                                  {
                                      c.Bound(p => p.MondayReg).Title("R").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.MondayOv).Title("O").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                  }));
                                  col.Group(g => g.HeaderHtmlAttributes(new { @class = "tuesdayheader", style = "text-align:center;" }).Columns(c =>
                                  {
                                      c.Bound(p => p.TuesdayReg).Title("R").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.TuesdayOv).Title("O").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                  }));
                                  col.Group(g => g.HeaderHtmlAttributes(new { @class = "wednesdayheader", style = "text-align:center;" }).Columns(c =>
                                  {
                                      c.Bound(p => p.WednesdayReg).Title("R").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.WednesdayOv).Title("O").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                  }));
                                  col.Group(g => g.HeaderHtmlAttributes(new { @class = "thursdayheader", style = "text-align:center;" }).Columns(c =>
                                  {
                                      c.Bound(p => p.ThursdayReg).Title("R").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.ThursdayOv).Title("O").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                  }));
                                  col.Group(g => g.HeaderHtmlAttributes(new { @class = "fridayheader", style = "text-align:center;" }).Columns(c =>
                                  {
                                      c.Bound(p => p.FridayReg).Title("R").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.FridayOv).Title("O").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                  }));
                                  col.Group(g => g.HeaderHtmlAttributes(new { @class = "saturdayheader", style = "text-align:center;" }).Columns(c =>
                                  {
                                      c.Bound(p => p.SaturdayReg).Title("R").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.SaturdayOv).Title("O").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                  }));
                                  col.Group(g => g.Title(Resource.Total).HeaderHtmlAttributes(new { @class = "tscolalign" }).Columns(c =>
                                  {
                                      c.Bound(p => p.TotalReg).Title("R").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.TotalOv).Title("O").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                      c.Bound(p => p.GrandTotal).Title("T").Format("{0:n2}").HeaderHtmlAttributes(new { @class = "tscolalign" }).HtmlAttributes(new { @class = "tscolalign", type = "number" }).FooterHtmlAttributes(new { @class = "tscolalign" }).ClientFooterTemplate("#= kendo.toString(sum, '0.00') #");
                                  }));
                                  //col.Bound(p => p.Status).Title(Resource.Status);
                                  col.Command(command =>
                                  {
                                      //command.Custom(" ").HtmlAttributes(new { @class = "k-icon k-add" });
                                      command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { title=Resource.EditTimesheetDistribution});
                                      command.Destroy().Text(" ").HtmlAttributes(new { title = Resource.DeleteTimesheetDistribution });
                                      command.Custom("Note").Text(" ").HtmlAttributes(new {@class = "fa fa-sticky-note", style = "min-width:0; width:40px; height:35px; padding-top:10px" });
                                  }).Width(160);

                              })
                              .HtmlAttributes(new { @class = "formElement", @style = "margin-top:0px; overflow-x:auto" })
                              .NoRecords(Resource.NoResultsToDisplay)
                              .AutoBind(false)
                              .ToolBar(t => t.Create().Text("Add New Record"))
                              .Events(ev => ev.DataBound("TimesheetGridDataBound").Edit("TimesheetGridEdit"))
                              .Editable(editable => editable.Mode(GridEditMode.InLine))
                              .DataSource
                               (
                                      ds => ds
                                     .Ajax()
                                     .Events(ev=>ev.Error("HandleGridTimehseet").RequestEnd("GridDistributionTimesheetRequestEnd").Sync("GridDistributionSync"))
                                     .Aggregates(aggregates =>
                                     {
                                         aggregates.Add(a => a.SundayOv).Sum();
                                         aggregates.Add(a => a.SundayReg).Sum();
                                         aggregates.Add(a => a.MondayOv).Sum();
                                         aggregates.Add(a => a.MondayReg).Sum();
                                         aggregates.Add(a => a.TuesdayOv).Sum();
                                         aggregates.Add(a => a.TuesdayReg).Sum();
                                         aggregates.Add(a => a.WednesdayOv).Sum();
                                         aggregates.Add(a => a.WednesdayReg).Sum();
                                         aggregates.Add(a => a.ThursdayOv).Sum();
                                         aggregates.Add(a => a.ThursdayReg).Sum();
                                         aggregates.Add(a => a.FridayOv).Sum();
                                         aggregates.Add(a => a.FridayReg).Sum();
                                         aggregates.Add(a => a.SaturdayOv).Sum();
                                         aggregates.Add(a => a.SaturdayReg).Sum();
                                         aggregates.Add(a => a.TotalOv).Sum();
                                         aggregates.Add(a => a.TotalReg).Sum();
                                         aggregates.Add(a => a.GrandTotal).Sum();
                                     })
                                     .Model(m =>
                                     {
                                         m.Id(p => p.Id);
                                     })
                                     .Read(read => read.Action("ReadTimesheet", "Timesheet").Data("GetTimesheetReadData"))
                                     .Create(create => create.Action("CreateTimesheetDistribution", "Timesheet").Data("GetTimesheetReadData"))
                                     .Update(update => update.Action("UpdateTimesheetDistribution", "Timesheet").Data("GetTimesheetReadData"))
                                     .Destroy(destroy => destroy.Action("DestroyTimesheetDistribution", "Timesheet").Data("GetTimesheetReadData"))
                               )
    )
</div>

<script>  

    function GridDistributionSync()
    {
        if ($('#hdfPreventSync').val() == '0')
        {
            $('#timesheetGrid').data('kendoGrid').dataSource.read();
        }
        else
        {
            $('#hdfPreventSync').val('0');
        }
    }

    function GridDistributionTimesheetRequestEnd(e)
    {
        if (e.type == "update" || e.type == "destroy" || e.type == "create")
        {
            if (typeof LoadCalendarCss === "function")
            {
                LoadCalendarCss();
            }
        }

        if (typeof GetPeriodInfo === "function")
        {
            GetPeriodInfo();
        }
    }

    function HandleGridTimehseet(args)
    {
        $('#hdfPreventSync').val('1');
        handleGridError(args, "timesheetGrid");
    }

    function GetTimesheetReadData()
    {
        return { employeeId: $('#EmployeeId').val(), timesheetDate: $('#TimseheetDate').val()}
    }


    function TimesheetGridDataBound()
    {
        $('#timesheetGrid .k-grid-add span').addClass('k-icon k-add');

        var grid = this;
        var item = null;

        if (grid.dataSource.data().length > 0)
        {
            item = grid.dataSource.data()[0];
        }
       
        if (item != null)
        {
            $('.sundayheader').html('@Resource.Sunday' + '<br>' + item.SundayHeader);
            $('.mondayheader').html('@Resource.Monday' + '<br>' + item.MondayHeader);
            $('.tuesdayheader').html('@Resource.Tuesday' + '<br>' + item.TuesdayHeader);
            $('.wednesdayheader').html('@Resource.Wednesday' + '<br>' + item.WednesdayHeader);
            $('.thursdayheader').html('@Resource.Thursday' + '<br>' + item.ThursdayHeader);
            $('.fridayheader').html('@Resource.Friday' + '<br>' + item.FridayHeader);
            $('.saturdayheader').html('@Resource.Saturday' + '<br>' + item.SaturdayHeader);
            $('.timesheetheader').html('@Resource.Timesheet (' + item.FromDateString + ' - ' + item.ToDateString+')');
        }

        var grid = this;
        grid.items().each(function (i, item)
        {
            $(item).find(".fa-sticky-note").hide();
            if (grid.dataItem(item).Note != null && grid.dataItem(item).Note!= '')
            {
                $(item).find(".fa-sticky-note").show();
            }
        });
    }

    function TimesheetGridEdit(item)
    {
        $('#hdfPreventSync').val('0');
        $('#timesheetGrid td[type="number"] input').attr('type', 'number');

        $('#ConceptId').closest('.k-header').after('<div align="right"style="width:100%;" class="gridnote"><span>@Resource.Note</span></div>');

        $('#ConceptId').attr('validationmessage', '@Resource.Concept' + ' ' + '@Resource.IsRequired');

        $('#SundayReg').attr('validationmessage', '@Resource.Sunday' + ' Regular ' + '@Resource.IsRequired');
        $('#SundayOv').attr('validationmessage', '@Resource.Sunday' + ' Overtime ' + '@Resource.IsRequired');
        $('#MondayReg').attr('validationmessage', '@Resource.Monday' + ' Regular ' + '@Resource.IsRequired');
        $('#MondayOv').attr('validationmessage', '@Resource.Monday' + ' Overtime ' + '@Resource.IsRequired');
        $('#TuesdayReg').attr('validationmessage', '@Resource.Tuesday' + ' Regular ' + '@Resource.IsRequired');
        $('#TuesdayOv').attr('validationmessage', '@Resource.Tuesday' + ' Overtime ' + '@Resource.IsRequired');
        $('#WednesdayReg').attr('validationmessage', '@Resource.Wednesday' + ' Regular ' + '@Resource.IsRequired');
        $('#WednesdayOv').attr('validationmessage', '@Resource.Wednesday' + ' Overtime ' + '@Resource.IsRequired');
        $('#ThursdayReg').attr('validationmessage', '@Resource.Thursday' + ' Regular ' + '@Resource.IsRequired');
        $('#ThursdayOv').attr('validationmessage', '@Resource.Thursday' + ' Overtime ' + '@Resource.IsRequired');
        $('#FridayReg').attr('validationmessage', '@Resource.Friday' + ' Regular ' + '@Resource.IsRequired');
        $('#FridayOv').attr('validationmessage', '@Resource.Friday' + ' Overtime ' + '@Resource.IsRequired');
        $('#SaturdayReg').attr('validationmessage', '@Resource.Saturday' + ' Regular ' + '@Resource.IsRequired');
        $('#SaturdayOv').attr('validationmessage', '@Resource.Saturday' + ' Overtime ' + '@Resource.IsRequired');

        if (item.model.Id == 0)
        {
            $('#CostCenterId').data('kendoDropDownList').value($('#hdfCostCenterId').val());
            item.model.CostCenterId = $('#hdfCostCenterId').val();
        }

    }

    function GetSelectedCostCenter()
    {
        return { costCenterId: $("#CostCenterId").data('kendoDropDownList').value(), text: $('#InternalOrderId').data('kendoDropDownList')._prev};
    }

    function AddNewDistributionRowClick()
    {
        $("#timesheetGrid .k-grid-toolbar .k-grid-add")[0].click();
    }


</script>
