﻿@using Resources;
@using SSS.Models
@{
    ViewBag.Title = Resource.Timesheet;
    Layout = "~/Views/Shared/_Layout.cshtml";

    int employeeId = 0;
    bool isSupervisor = false;
    DateTime dt = DateTime.Today;

    if (ViewData["EmployeeId"] != null)
    {
        int.TryParse(ViewData["EmployeeId"].ToString(), out employeeId);
    }

    if (ViewData["IsSupervisor"] != null)
    {
        bool.TryParse(ViewData["IsSupervisor"].ToString(), out isSupervisor);
    }

    if (ViewData["TimesheetDate"] != null)
    {
        DateTime.TryParse(ViewData["TimesheetDate"].ToString(), out dt);
    }

}

<input type="hidden" id="hdfPeriodText" />
<input type="hidden" id="hdfAction" />
<input type="hidden" id="hdfIsSupervisor" value="@isSupervisor.ToString()" />
<input type="hidden" id="hdfOverwrite" />

<div class="Timesheet" style="margin-left:50px;margin-right:50px">
    <div class="col-md-12 noPaddingRight">
        <div class="col-md-12">
            <div class="col-md-4">
                <h3 class="timesheetheader">@Resource.Timesheet</h3>
            </div>
            <div class="col-md-8 noPaddingRight" align="right">
                <h3 id="timesheetstatus"></h3>
                @Resource.TimesheetStatus
            </div>
        </div>
        <hr class="searchhr" style="margin-bottom:10px" />
        <div class="col-md-12 noPaddingRight">
            <div class="col-md-2">
                @Html.Action("_EmployeeInfo", "Timesheet", new { employeeId = employeeId })
            </div>
            @if (!isSupervisor)
            {
                <div class="col-md-2">
                    <h4 id="timesheetstatus">&nbsp;</h4>
                    <div class="col-md-12" align="center">
                        @(Html.Kendo().Calendar().Name("calendar").Value(DateTime.Today).HtmlAttributes(new { @style = "width:100%;" }).Events(ev => ev.Navigate("LoadCalendarCss").Change("CalendarChange")).Footer("#: kendo.toString(data, 'D') #<div class='calendarlegend' align='left'><div class='calendarlegenditem calendardayinvalid'></div><label>" + Resource.NotCreated + "</label><br /><div class='calendarlegenditem calendardaypendingtosubmit'></div><label>" + Resource.PendingToSubmit + "</label><br /><div class='calendarlegenditem calendardaysubmitted'></div><label>" + Resource.Submitted + "</label><br /><div class='calendarlegenditem calendardayapproved'></div><label>" + Resource.Approved + "</label><br /><div class='calendarlegenditem calendardaysenttosap'></div><label>" + Resource.SentToSap + "</label></div>"))
                        <br />
                        @Html.Kendo().Button().Content(Resource.ImportHours).Name("btnLoadTimesheet").Events(ev => ev.Click("LoadTimesheetClick")).HtmlAttributes(new { }).Icon("fa fa-upload")
                    </div>
                </div>
            }
            <div class="col-md-8 noPaddingRight">
                <div class="col-md-12"><h4>@Resource.KronosTimesheet</h4></div>
                <div class="col-md-12 noPaddingRight">
                    @Html.Action("_KronosTimesheet", "Timesheet")
                </div>

            </div>
        </div>
    </div>
    <hr class="searchhr" style="margin-bottom:10px" />
    <div class="col-md-12 noPaddingRight">
        <div class="col-md-4">
            <h4>@Resource.DistributionTimesheet</h4>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2">
            @if (isSupervisor)
            {
                @Html.Kendo().Button().Name("btnSendToRevision").Content(Resource.SendToRevision).HtmlAttributes(new { @style = "width:100%" }).Events(ev => ev.Click("SendToRevisionClick")).Icon("fa fa-exclamation")
            }
            else
            {
                @Html.Kendo().Button().Content(Resource.Validate).Name("btnValidateTimesheet").Events(ev => ev.Click("ValidateTimesheetClick")).HtmlAttributes(new { @style = "width:100%" }).Icon("fas fa-sticky-note")
            }
        </div>
        <div class="col-md-2 noPaddingRight">
            @if (isSupervisor)
            {
                @Html.Kendo().Button().Name("btnApprove").Content(Resource.Approve).HtmlAttributes(new { @style = "width:100%" }).Events(ev => ev.Click("ApproveClick")).Icon("tick")
            }
            else
            {
                @Html.Kendo().Button().Content(Resource.Submit).Name("btnSubmitTimesheet").Events(ev => ev.Click("SubmitTimesheetClick")).HtmlAttributes(new { @style = "width:100%" }).Icon("tick")
            }
        </div>
    </div>
    <div class="col-md-12 noPaddingRight">
        @Html.Action("_Timesheet", "Timesheet")
    </div>
    <div class="col-md-12">
        <div class="col-md-8">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2 noPaddingRight">

        </div>
    </div>
</div>
@RenderPage("~/Views/Shared/EditorTemplates/Window.cshtml", new {  windowName = "ValidationWindow", width = "450", title = Resource.Validation, content = "<div class='col-md-12'><label id='validationmess'></label></div><div class='col-md-12' id='tsValidationErrors'></div>" })
@RenderPage("~/Views/Shared/EditorTemplates/Window.cshtml", new { windowName = "ImportHoursValidationWindow", width = "450", title = Resource.Confirmation, content = Resource.ImportHoursValidationMess, buttonAction = "OK", action = "ImportHoursConfirmationWindowOk" })

<script>

    $(document).ready(function ()
    {
        $('#EmployeeId').val("@employeeId.ToString()");
        $('#EmployeeIdEditingTimesheet').val("@employeeId.ToString()");

        if ($('#calendar').length > 0)
        {
            $('#TimseheetDate').val($('#calendar').data('kendoCalendar').value().toLocaleString());
        }
        else
        {
            $('#TimseheetDate').val('@dt.ToShortDateString()');
        }

        $('#hdfOverwrite').val('false');
        $('#kronosTimesheetGrid').data('kendoGrid').dataSource.read();

        GetPeriodInfo();

        $("#timesheetGrid").kendoTooltip({
            filter: ".k-grid-Note",
            position: "top",
            content: function (e)
            {
                var dataItem = $("#timesheetGrid").data("kendoGrid").dataItem(e.target.closest("tr"));
                return dataItem.Note;
            }
        }).data("kendoTooltip");
    });

    function CalendarChange(e)
    {
        $('.calendarweekselected').removeClass('calendarweekselected');
        $('#calendar .k-state-selected').closest('tr').addClass('calendarweekselected');
        $('#hdfOverwrite').val('false');
        $('#TimseheetDate').val($('#calendar').data('kendoCalendar').value().toLocaleString());
        LoadTimesheet();
    }

    function LoadTimesheetClick()
    {
        $('#ImportHoursValidationWindow').data('kendoWindow').center().open();
    }

    function ImportHoursConfirmationWindowOk()
    {
        $('#TimseheetDate').val($('#calendar').data('kendoCalendar').value().toLocaleString());
        $('#hdfOverwrite').val('true');
        LoadTimesheet();
        $('#ImportHoursValidationWindow').data('kendoWindow').close();
    }

    function LoadTimesheet()
    {
        $('#kronosTimesheetGrid').data('kendoGrid').dataSource.read();
    }

    function LoadDistributionTimesheet()
    {
        $('#timesheetGrid').data('kendoGrid').dataSource.read();
    }

    function SubmitTimesheetClick()
    {
        $('#ConfirmationWindow .actionText').html('@Resource.Submit')
        $('#hdfAction').val('submit');
        $('#tsSubmintErrors').html('');
        $('#supervisorplaceholder').html("@Resource.TimesheetWillBeSubmittedToSupervisor" + ': ' + $('#hdfSupervisorPlaceHolder').val());
        $('#periodplaceholder').html($('#hdfPeriodText').val() + '?')
        $('#confirmationmessplaceholder').html("@Resource.TimesheetSubmitConfirmation"+' ')

        if ($('#hdfSupervisorPlaceHolder').val() == '')
        {
            $('#ConfirmationWindow .k-update').parent().addClass('k-state-disabled');

            $('#tsSubmintErrors').html('<div col-md-12>@Resource.NoSupervisorDefined</div>')
        }

        $('#ConfirmationWindow').data('kendoWindow').center().open();
    }


    function SendToRevisionClick()
    {
        $('#ConfirmationWindow .actionText').html('@Resource.SendToRevision')
        $('#hdfAction').val('revision');
        $('#tsSubmintErrors').html('');
        $('#supervisorplaceholder').html("");
        $('#periodplaceholder').html($('#hdfPeriodText').val() + '?')
        $('#confirmationmessplaceholder').html("@Resource.TimesheetSendToRevisionConfirmation" + ' ')
        $('#confirmationmessplaceholder').text($('#confirmationmessplaceholder').text().replace('<<EmployeeName>>', $('#lblFullName').text()));

        $('#ConfirmationWindow').data('kendoWindow').center().open();
    }

    function ApproveClick()
    {
        $('#ConfirmationWindow .actionText').html('@Resource.Approve')
        $('#hdfAction').val('approve');
        $('#tsSubmintErrors').html('');
        $('#supervisorplaceholder').html("");
        $('#periodplaceholder').html($('#hdfPeriodText').val()+'?')
        $('#confirmationmessplaceholder').html("@Resource.TimesheetApproveConfirmation" + ' ')
        $('#confirmationmessplaceholder').text($('#confirmationmessplaceholder').text().replace('<<EmployeeName>>', $('#lblFullName').text()));

        $('#ConfirmationWindow').data('kendoWindow').center().open();
    }

    function ValidateTimesheetClick()
    {
         $.ajax({
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '@Url.Action("TimesheetAction", "Timesheet")',
            data: JSON.stringify(
                {
                    tsAction: 'validate',
                    employeeId: $('#EmployeeId').val(),
                    timesheetDate: $('#TimseheetDate').val()
                }),
            success: function (result)
            {
                $('#validationmess').html(result.mess);
                $('#tsValidationErrors').html('');
                $('#ValidationWindow').data('kendoWindow').center().open();
                if (result.status == "success")
                {

                   // NotificationMessage('', '@Resource.TimesheetSuccessfullySubmitted', 's');

                    $('#ValidationWindow').data('kendoWindow').center().open();
                }
                if (result.status == "invalid")
                {
                    $('#tsValidationErrors').html(result.validationSummary);
                }

            }
        });
    }

    function GetPeriodInfo()
    {
        $('#timesheetstatus').removeClass();
        $.ajax({
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '@Url.Action("PeriodInfo", "Timesheet")',
            data: JSON.stringify(
                {
                    employeeId: $('#EmployeeId').val(),
                    timesheetDate: $('#TimseheetDate').val()
                }),
            success: function (result)
            {
                $('#timesheetstatus').html(result.periodStatus);
                $('#timesheetstatus').addClass(result.css);

                if (result.css != 'pendingsubmission' && result.css != 'revision' || $('#hdfIsSupervisor').val() == 'True')
                {
                    $('#timesheetGrid .k-grid-add').hide();
                    $('#timesheetGrid .k-grid-edit').hide();
                    $('#timesheetGrid .k-grid-delete').hide();
                    $('#timesheetGrid .k-grid-update').hide();
                    $('#timesheetGrid .k-grid-cancel').hide();;

                    $('#btnSubmitTimesheet').attr('disabled', 'disabled');
                    $('#btnValidateTimesheet').attr('disabled', 'disabled');
                    $('#btnSendToRevision').attr('disabled', 'disabled');
                    $('#btnApprove').attr('disabled', 'disabled');
                }
                else
                {
                    $('#timesheetGrid .k-grid-add').show();
                    $('#timesheetGrid .k-grid-edit').show();
                    $('#timesheetGrid .k-grid-delete').show();
                    $('#timesheetGrid .k-grid-update').show();
                    $('#timesheetGrid .k-grid-cancel').show();;

                    $('#btnValidateTimesheet').removeAttr('disabled');
                    $('#btnSendToRevision').removeAttr('disabled');
                    $('#btnSubmitTimesheet').removeAttr('disabled');
                    $('#btnApprove').removeAttr('disabled');
                }

                if (result.css == 'submitted' && $('#hdfIsSupervisor').val()=='True')
                {
                    $('#timesheetGrid .k-grid-add').show();
                    $('#timesheetGrid .k-grid-edit').show();
                    $('#timesheetGrid .k-grid-delete').show();
                    $('#timesheetGrid .k-grid-update').show();
                    $('#timesheetGrid .k-grid-cancel').show();;

                    $('#btnSubmitTimesheet').removeAttr('disabled');
                    $('#btnValidateTimesheet').removeAttr('disabled');
                    $('#btnSendToRevision').removeAttr('disabled');
                    $('#btnApprove').removeAttr('disabled');
                }

            }
        });
    }

    function LoadCalendarCss()
    {
        if ($('#EmployeeId').val() != '' && $('#calendar table tr td.k-other-month.k-weekend a').length > 0)
        {
            var cal = $("#calendar").data("kendoCalendar");
            var fromDate = $("tbody > tr:first > td:first > a", cal._table).data("value").split('/');
            var toDate = $("tbody > tr:last > td:last > a", cal._table).data("value").split('/');

            var fromYear = fromDate[0];
            var fromMonth = parseInt(fromDate[1]) + 1;
            var fromDay = fromDate[2];

            var toYear = toDate[0];
            var toMonth = parseInt(toDate[1]) + 1;
            var toDay = toDate[2];

            $.ajax({
                type: "Post",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: '@Url.Action("GetCalendarInfo", "Timesheet")',
                data: JSON.stringify(
                    {
                        employeeId: $('#EmployeeId').val(),
                        fromDate: fromMonth + '/' + fromDay + '/' + fromYear,
                        toDate: toMonth + '/' + toDay + '/' + toYear
                    }),
                success: function (result)
                {
                    $('#calendar table tbody td a').removeClass('calendardayinvalid')
                    $('#calendar table tbody td a').removeClass('calendardaypendingtosubmit')
                    $('#calendar table tbody td a').removeClass('calendardaysubmitted')
                    $('#calendar table tbody td a').removeClass('calendardayapproved')
                    $('#calendar table tbody td a').removeClass('calendardaysenttosap')

                    $(result.notValid).addClass('calendardayinvalid');
                    $(result.pendingToSubmit).addClass('calendardaypendingtosubmit');
                    $(result.submitted).addClass('calendardaysubmitted');
                    $(result.approved).addClass('calendardayapproved');
                    $(result.senttosap).addClass('calendardaysenttosap');
                }
            });
        }
    }

</script>
