﻿<script type="text/kendo-template" id="message">
    <div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="margin: 0.5em; display: block; " data-for="#=field#" data-valmsg-for="#=field#" id="#=field#_validationMessage">
        <span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div>
    </div>
</script>
<script>
    var validationMessageTmpl = kendo.template($("#message").html());

    function showErrorMessage(container, name, errors)
    {
        showErrorMessageOnFind(container, name, errors[0]);
    }

    function showErrorMessageOnFind(container, name, error)
    {
        var valMsg = container.find("[data-valmsg-for='" + name + "'],[data-val-msg-for='" + name + "']");
        valMsg.replaceWith(validationMessageTmpl({ field: name, message: error }));
    }

    function handleGridError(args, gridName)
    {
        //KENDO Errors
        if (args.errors)
        {
            var grid = $("#" + gridName).data("kendoGrid");
            grid.one("dataBinding", function (e)
            {
                e.preventDefault();
                if (grid.editable != null)
                    for (var error in args.errors)
                    {
                        showErrorMessage(grid.editable.element, error, args.errors[error].errors);
                    }
            });
        }
        // Jquery Ajax Errors
        else if (args.Errors)
        {
            showErrorsOnwindowGridServerError(args.Errors);
            return true;
        }
        else
        {
            return false;
        }
    }
</script>