@using Resources;
@{
    String action = PageData["action"];
    String actionTitle = PageData["actionTitle"];
    String cancelButton = PageData["cancelButton"];
    String cancelIcon = PageData["cancelIcon"];
    String cancelClass = "";
    if (String.IsNullOrEmpty(cancelIcon))
    {
        cancelIcon = "k-cancel";
    }
    if (String.IsNullOrEmpty(action))
    {
        cancelClass = "k-primary";
    }
    if (String.IsNullOrEmpty(cancelButton))
    {
        cancelButton = @Resource.Cancel.ToUpper();
    }
    <div class="k-edit-buttons k-state-default popUpWindowButtons">
        <ul>
            <li><a href="#" class="k-button k-button-icontext @cancelClass buttonCancel"><span class="k-icon @cancelIcon"></span>@cancelButton</a></li>
            @if (action != null && action != "")
            {
                <li><a href="#" class="k-button k-button-icontext k-primary" onclick="@action ()"><span class="k-icon k-update"></span><span class="actionText">@actionTitle</span></a></li>
            }
        </ul>
    </div>
}
<script>
    $(".buttonCancel").click(function ()
    {
        var wind = $(this).closest(".k-window-content");

        wind.data("kendoWindow").close();
        if ($.isFunction("cancelAction"))
        {
            cancelAction();
        }

    });
</script>