@using Kendo.Mvc.UI.Fluent;
@using System.Threading;
@using System.Globalization;
@using Resources;
@{
    CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
    String windowName = PageData["windowName"];
    String controller = PageData["controller"];
    String action = PageData["action"];
    String width = PageData["width"];
    String title = PageData["title"];
    String content = PageData["content"];
    Int32? objId = PageData["objId"];
    String buttonAction = PageData["buttonAction"];
    String cancelButton = PageData["cancelButton"];
    String onClose = PageData["onClose"];
    String onOpen = PageData["onOpen"];
    String cancelIcon = PageData["cancelIcon"];
    @(Html.Kendo().Window()
            .Name(windowName)
            .Title(title)
            .Modal(true)
            .Visible(false)
            .Width(Convert.ToInt32(width))
            .Events(events => { events.Error("popUpError_handler");
                if (!string.IsNullOrEmpty(onClose))
                {
                    events.Close(onClose);
                    events.Resize("ResizePopWindowDialog('"+windowName+"')");
                }
                if (!string.IsNullOrEmpty(onOpen))
                {
                    events.Open(onOpen);
                }
            })
            .Content(@<div>
                        <div class="windowPopUpContent">
                        @Html.Raw(content)
                        </div>
                      
                        @if (buttonAction != null)
                        {
                             <hr class="searchhr" style="margin-bottom:10px;margin-top:10px" />
                            @RenderPage("WindowFooter.cshtml", new { action = action, actionTitle = buttonAction.ToUpper(), cancelButton = cancelButton, cancelIcon = cancelIcon })
                        }
                    </div>)
            .Animation(true)
            .Resizable()
            .Draggable(true)
            .Scrollable(false)
        )
    }
    <script>
        $(document).ready(function () {
            var windowName = '@windowName';
            var windowObj = $("#" + windowName).data("kendoWindow");
            if (!windowObj)
                return;
            var currentController = '@controller';
            var action = '@action';
            var objId = '@objId';

            if (action != null && action != "" && '@content' == "" && currentController!=null && currentController != "") {
                windowObj.refresh({
                    url: serviceURL + "/" + currentController + "/" + action,
                    data: { objId: objId }
                })
            }
        });
    </script>
