﻿@using Resources;
@using Models.Core
@{
    ViewBag.Title = Resource.Reports;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Reports" style="margin-left:50px;margin-right:50px">
    Reports
</div>

<script>

    $(document).ready(function ()
    {
    });


</script>
