/** 
 * Kendo UI v2019.3.917 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2019 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #3f51b5;
@base: #fff;
@background: #363636;

@border-radius: 2px;

@normal-background: #363636;
@normal-text-color: #d5d5d5;
@normal-gradient: none;
@hover-background: #606060;
@hover-text-color: #d5d5d5;
@hover-gradient: none;
@selected-background: #00b0ff;
@selected-text-color: #00b0ff;
@selected-gradient: none;

@error: #c93b31;
@warning: #cdaa1d;
@success: #429246;
@info: #207ec8;

@series-a: #3f51b5;
@series-b: #03a9f4;
@series-c: #4caf50;
@series-d: #f9ce1d;
@series-e: #ff9800;
@series-f: #ff5722;

// graphics
@image-folder: "MaterialBlack";
@texture: none;
@fallback-texture: none;

@import "type-material.less";
