/** 
 * Kendo UI v2019.3.917 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2019 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #f4af03;
@base: #212a33;
@background: #414550;

@border-radius: 2px;

@normal-background: #212a33;
@normal-text-color: #fff;
@normal-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.1) 100%";
@hover-background: #40444f;
@hover-text-color: #fff;
@hover-gradient: "rgba(255,255,255,.25) 0%, rgba(255,255,255,0) 100%";
@selected-background: #f4af03;
@selected-text-color: #171e28;
@selected-gradient: "#f4af03 0%, #ee9f05 100%";

@error: #be5138;
@warning: #ea9d07;
@success: #2b893c;
@info: #0c779b;

@series-a: #ffca08;
@series-b: #ff710f;
@series-c: #ed2e24;
@series-d: #ff9f03;
@series-e: #e13c02;
@series-f: #a00201;

// graphics
@image-folder: "Moonlight";
@texture: url("textures/brushed-metal.png");
@fallback-texture: url("textures/brushed-metal.png");

@import "type-default.less";
