/** 
 * Kendo UI v2019.3.917 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2019 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #007cc0;
@base: #f2f2f2;
@background: #fff;

@border-radius: 0;

@normal-background: #fff;
@normal-text-color: #333;
@normal-gradient: none;
@hover-background: #eaeaea;
@hover-text-color: #333;
@hover-gradient: none;
@selected-background: #007cc0;
@selected-text-color: #fff;
@selected-gradient: none;

@error: #ffd7d7;
@warning: #fef1d0;
@success: #cce8d8;
@info: #d1eaff;

@series-a: #008fd3;
@series-b: #99d101;
@series-c: #f39b02;
@series-d: #f05662;
@series-e: #c03c53;
@series-f: #acacac;

// graphics
@image-folder: "Fiori";
@texture: none;
@fallback-texture: none;

@import "type-fiori.less";
