/** 
 * Kendo UI v2019.3.917 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2019 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
.k-theme-test-class,
.ktb-theme-id-bootstrap {
  opacity: 0;
}
.ktb-var-accent {
  color: #428bca;
}
.ktb-var-base {
  color: #ebebeb;
}
.ktb-var-background {
  color: #fff;
}
.ktb-var-border-radius {
  border-radius: 4px;
}
.ktb-var-normal-background {
  color: #fff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #333333;
}
.ktb-var-hover-background {
  color: #ebebeb;
}
.ktb-var-hover-gradient {
  background-image: none;
}
.ktb-var-hover-text-color {
  color: #333333;
}
.ktb-var-selected-background {
  color: #428bca;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #ffffff;
}
.ktb-var-error {
  color: #ffe0d9;
}
.ktb-var-warning {
  color: #fbeed5;
}
.ktb-var-success {
  color: #eaf7ec;
}
.ktb-var-info {
  color: #e5f5fa;
}
.ktb-var-series-a {
  color: #428bca;
}
.ktb-var-series-b {
  color: #5bc0de;
}
.ktb-var-series-c {
  color: #5cb85c;
}
.ktb-var-series-d {
  color: #f2b661;
}
.ktb-var-series-e {
  color: #e67d4a;
}
.ktb-var-series-f {
  color: #da3b36;
}
.k-grid-norecords-template {
  background-color: #fff;
  border: 1px solid #cccccc;
}
.k-button {
  border-radius: 4px;
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
  background-position: 50% 50%;
}
.k-button.k-state-default {
  border-color: #cccccc;
}
.k-button:hover,
.k-button.k-state-hover {
  color: #333333;
  border-color: #aeaeae;
  background-color: #ebebeb;
}
.k-button:active,
.k-button.k-state-active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #aeaeae;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.k-button.k-state-active:hover {
  color: #fff;
  border-color: #285e8e;
  background-color: #3276b1;
}
.k-button:focus:active {
  box-shadow: 0 0 7px 0 #76abd9, inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.k-button:focus,
.k-button:focus:hover,
.k-button.k-state-focused,
.k-button.k-state-focused.k-state-disabled,
.k-state-disabled .k-button.k-state-focused {
  border-color: #69ace6;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-button[disabled],
.k-state-disabled .k-button,
.k-button.k-state-disabled,
.k-button[disabled]:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-button[disabled]:focus,
.k-state-disabled .k-button:focus,
.k-button.k-state-disabled:focus,
.k-button[disabled]:active,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: #333333;
  border-color: #cccccc;
  background-color: #fff;
  box-shadow: none;
  background-image: none;
}
.k-primary {
  color: #fff;
  border-color: #357ebd;
  background-color: #428bca;
}
.k-primary.k-state-default {
  border-color: #357ebd;
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #fff;
  border-color: #285e8e;
  background-color: #3276b1;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #fff;
  border-color: #285e8e;
  background-color: #3276b1;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: 0 0 3px 0 #2698fb, inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.k-primary:focus,
.k-primary:focus:hover,
.k-primary.k-state-focused,
.k-primary.k-state-focused.k-state-disabled,
.k-state-disabled .k-primary.k-state-focused {
  border-color: #eef8fc;
  box-shadow: 0 0 3px 0 #2698fb;
}
.k-primary[disabled],
.k-state-disabled .k-primary,
.k-primary.k-state-disabled,
.k-primary[disabled]:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover {
  color: #fff;
  border-color: #357ebd;
  background-color: #428bca;
  box-shadow: none;
}
.k-button-group {
  border-radius: 4px;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 4px;
}
.k-rtl .k-button-group .k-button {
  border-radius: 0;
}
.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.k-rtl .k-button-group .k-group-start.k-group-end,
.k-rtl .k-button-group .k-button:first-child:last-child {
  border-radius: 4px;
}
.k-split-button {
  border-radius: 4px;
}
.k-split-button.k-state-border-down > .k-button,
.k-split-button.k-state-border-up > .k-button {
  color: #333333;
  background-color: #ebebeb;
  border-color: #aeaeae;
  box-shadow: none;
}
.k-split-button:focus {
  border-color: #69ace6;
  outline: none;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: #69ace6;
}
.k-split-button:focus:not(.k-state-disabled) > .k-state-active,
.k-split-button:focus:not(.k-state-disabled) > .k-button:hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #69ace6;
  box-shadow: none;
}
.k-split-button.k-state-disabled {
  color: #a1a1a1;
  background: #fff;
  background-image: none;
}
.k-edit-buttons {
  border-color: #cccccc;
  background: #f5f5f5;
}
.k-button.k-flat.k-primary,
.k-button.k-bare.k-primary,
.k-button.k-flat.k-primary:hover,
.k-button.k-bare.k-primary:hover,
.k-button.k-flat.k-primary.k-state-hover,
.k-button.k-bare.k-primary.k-state-hover,
.k-button.k-flat.k-primary:active,
.k-button.k-bare.k-primary:active,
.k-button.k-flat.k-primary.k-state-active,
.k-button.k-bare.k-primary.k-state-active,
.k-button.k-flat.k-primary:hover:active,
.k-button.k-bare.k-primary:hover:active,
.k-button.k-flat.k-primary:hover.k-state-active,
.k-button.k-bare.k-primary:hover.k-state-active {
  color: #428bca;
}
.k-card {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-card .k-card-callout {
  border-color: #cccccc;
  background-color: #fff;
}
.k-card-header {
  border-color: #cccccc;
  color: #333333;
  background-color: #f5f5f5;
}
.k-card-actions {
  border-color: #cccccc;
}
.k-card.k-state-primary {
  border-color: #a1c5e5;
  color: #214665;
  background-color: #c6dcef;
}
.k-card.k-state-info {
  border-color: #b2e1f0;
  color: #326271;
  background-color: #d1edf6;
}
.k-card.k-state-success {
  border-color: #bde6c3;
  color: #3e6644;
  background-color: #d7f0db;
}
.k-card.k-state-warning {
  border-color: #f6daa4;
  color: #775b25;
  background-color: #fae9c8;
}
.k-card.k-state-error {
  border-color: #ffb1a0;
  color: #803220;
  background-color: #ffd0c6;
}
.k-chat {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-chat .k-timestamp {
  text-transform: uppercase;
  opacity: 0.7;
}
.k-chat .k-author {
  font-weight: bold;
}
.k-chat .k-bubble {
  border-color: #fff;
  color: #333333;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;
  -ms-flex-order: -1;
      order: -1;
}
.k-chat .k-alt .k-bubble {
  border-color: #428bca;
  color: #ffffff;
  background-color: #428bca;
}
.k-chat .k-quick-reply {
  border-color: #428bca;
  color: #428bca;
  background-color: transparent;
}
.k-chat .k-quick-reply:hover {
  border-color: #428bca;
  color: #ffffff;
  background-color: #428bca;
}
.k-chat .k-message-box {
  border-color: inherit;
  color: #333333;
  background-color: #fff;
}
.k-chat .k-message-box .k-button:hover {
  color: #428bca;
}
.k-chat .k-toolbar-box {
  border-color: inherit;
  color: #333333;
  background-color: #f5f5f5;
}
.k-chat .k-toolbar-box .k-button:hover {
  color: #428bca;
  background: none;
}
.k-chat .k-toolbar-box .k-scroll-button {
  background-color: #fff;
  box-shadow: 0 0 20px 5px #fff;
}
.k-chat .k-toolbar-box .k-scroll-button:hover {
  background-color: #fff;
}
.k-calendar {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-calendar > .k-header {
  border-color: #cccccc;
  color: #333333;
  background-color: #f5f5f5;
  background-image: none;
}
.k-calendar th {
  border-color: #cccccc;
  color: #333333;
  background-color: #f5f5f5;
}
.k-calendar .k-alt {
  border-color: #cccccc;
  color: #333333;
  background-color: #f5f5f5;
}
.k-calendar .k-weekend {
  background-color: transparent;
}
.k-calendar .k-other-month {
  color: #a1a1a1;
  background-color: transparent;
}
.k-calendar .k-out-of-range {
  pointer-events: none;
  visibility: hidden;
}
.k-calendar .k-today .k-link {
  color: #428bca;
  box-shadow: inset 0 0 0 1px #428bca;
}
.k-calendar td.k-state-hover .k-link {
  border-color: #aeaeae;
  color: #333333;
  background-color: #ebebeb;
  background-image: none;
}
.k-calendar td.k-state-selected .k-link {
  border-color: #428bca;
  color: #ffffff;
  background-color: #428bca;
  background-image: none;
}
.k-calendar td.k-state-focused .k-link {
  box-shadow: inset 0 0 7px 0 #76abd9;
}
.k-calendar .k-footer .k-nav-today {
  color: #428bca;
}
.k-calendar .k-footer .k-nav-today:hover {
  color: #3681c1;
}
.k-calendar-range {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-calendar-range th {
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
}
.k-calendar-range td.k-state-hover .k-link {
  border-color: #aeaeae;
  color: #333333;
  background-color: #ebebeb;
}
.k-calendar-range td.k-state-selected .k-link {
  border-color: #428bca;
  color: #ffffff;
  background-color: #428bca;
}
.k-calendar-range td.k-state-focused .k-link {
  box-shadow: inset 0 0 7px 0 #76abd9;
}
.k-calendar-range td.k-range-start,
.k-calendar-range td.k-range-mid,
.k-calendar-range td.k-range-end {
  background-image: linear-gradient(transparent 1px, rgba(66, 139, 202, 0.3) 1px, rgba(66, 139, 202, 0.3) calc(100% - 1px), transparent calc(100% - 1px));
}
.k-ie .k-calendar-range td.k-range-start,
.k-ie .k-calendar-range td.k-range-mid,
.k-ie .k-calendar-range td.k-range-end,
.k-edge .k-calendar-range td.k-range-start,
.k-edge .k-calendar-range td.k-range-mid,
.k-edge .k-calendar-range td.k-range-end {
  background-image: none;
  background-color: rgba(66, 139, 202, 0.3);
}
.k-calendar-range td.k-range-split-start::after {
  background-image: linear-gradient(to left, rgba(66, 139, 202, 0.3), transparent);
}
.k-calendar-range td.k-range-split-end::after {
  background-image: linear-gradient(to right, rgba(66, 139, 202, 0.3), transparent);
}
.k-calendar-range .k-footer .k-nav-today {
  color: #428bca;
  background: none;
}
.k-pdf-viewer .k-toolbar .k-icon,
.k-pdf-viewer .k-toolbar .k-pager-input {
  color: #333333;
}
.k-pdf-viewer .k-canvas {
  background-color: #fff;
}
.k-pdf-viewer .k-page {
  border-color: #cccccc;
  color: #333333;
  background-color: white;
  box-shadow: 0 0 15px #cccccc;
}
.k-pdf-viewer .k-search-highlight {
  background-color: #4d4d4d;
}
.k-scrollview-nav > li.k-link {
  border-color: #cccccc;
  background-color: #fff;
  background-clip: padding-box;
}
.k-scrollview-nav > li.k-link.k-primary {
  border-color: #357ebd;
  background-color: #428bca;
}
.k-scrollview-elements {
  color: #ffffff;
}
.k-scrollview-next,
.k-scrollview-prev {
  color: inherit;
  background: rgba(0, 0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  opacity: 0.7;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.k-scrollview-next:hover,
.k-scrollview-prev:hover {
  color: #ffffff;
  opacity: 1;
}
.k-scrollview-next:hover span::before,
.k-scrollview-prev:hover span::before {
  background-color: transparent;
}
.k-switch-container {
  box-shadow: inset 0 0 0 1px #cccccc;
}
.k-switch-handle {
  background-clip: border-box;
}
.k-switch-on .k-switch-container {
  border-color: #cccccc;
  color: #fff;
  background-color: #428bca;
}
.k-switch-on .k-switch-handle {
  border-color: #cccccc;
  color: #fff;
  background-color: #fff;
}
.k-switch-on:focus,
.k-switch-on.k-state-focused {
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-switch-on:focus .k-switch-container,
.k-switch-on.k-state-focused .k-switch-container {
  border-color: #cccccc;
  color: #fff;
  background-color: #3276b1;
}
.k-switch-on:focus .k-switch-handle,
.k-switch-on.k-state-focused .k-switch-handle {
  border-color: #69ace6;
  color: #fff;
  background-color: #fff;
}
.k-switch-on:hover .k-switch-container,
.k-switch-on.k-state-hover .k-switch-container {
  border-color: #aeaeae;
  color: #fff;
  background-color: #3276b1;
}
.k-switch-on:hover .k-switch-handle,
.k-switch-on.k-state-hover .k-switch-handle {
  border-color: #aeaeae;
  color: #fff;
  background-color: #fff;
}
.k-switch-on .k-switch-label-off {
  color: transparent;
}
.k-switch-off .k-switch-container {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-switch-off .k-switch-handle {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-switch-off:focus,
.k-switch-off.k-state-focused {
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-switch-off:focus .k-switch-container,
.k-switch-off.k-state-focused .k-switch-container {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-switch-off:focus .k-switch-handle,
.k-switch-off.k-state-focused .k-switch-handle {
  border-color: #69ace6;
  color: #333333;
  background-color: #fff;
}
.k-switch-off:hover .k-switch-container,
.k-switch-off.k-state-hover .k-switch-container {
  border-color: #aeaeae;
  color: #333333;
  background-color: #fff;
}
.k-switch-off:hover .k-switch-handle,
.k-switch-off.k-state-hover .k-switch-handle {
  border-color: #aeaeae;
  color: #333333;
  background-color: #fff;
}
.k-switch-off .k-switch-label-on {
  color: transparent;
}
.k-switch {
  background-color: transparent;
  box-shadow: none;
}
.k-switch:focus .k-switch-container,
.k-switch.k-state-focused .k-switch-container {
  outline: none;
  box-shadow: inset 0 0 0 1px #69ace6;
}
.k-switch:hover .k-switch-container,
.k-switch.k-state-hover .k-switch-container {
  box-shadow: inset 0 0 0 1px #aeaeae;
}
.k-switch.k-state-disabled {
  cursor: default;
}
.k-switch.k-state-disabled:focus,
.k-switch.k-state-disabled.k-state-focused {
  box-shadow: inset 0 0 0 1px #cccccc;
}
.k-switch[aria-readonly="true"] {
  pointer-events: none;
}
.k-pane-wrapper .k-pane > .k-view > .k-content {
  background-position: 50% 50%;
  background-color: #f5f5f5;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #333333;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-sort-order,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-asc-sm,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-desc-sm {
  color: #428bca;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-grid-filter.k-state-active,
.k-pane-wrapper .k-pane .k-grid-mobile .k-header-column-menu.k-state-active {
  color: #fff;
  background-color: #428bca;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-resize-handle-inner::before {
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-nav-current {
  color: #428bca;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendadate {
  color: inherit;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-time-period,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendaweekday {
  color: #bfbfbf;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-wrap,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-datecolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-group-cell,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-all-day {
  background-color: #f5f5f5;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-other-month {
  background-color: #f5f5f5;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-tools > li,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-navigation {
  background-color: inherit;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header {
  background-color: #428bca;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header .k-link {
  color: #ffffff;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-item,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-item,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-link {
  color: #333333;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-clear,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-clear,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-select-all,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-select-all,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-resetSeries {
  color: #428bca;
}
.k-pane-wrapper .k-pane .k-column-menu .k-state-selected .k-link {
  color: #428bca;
}
.k-pane-wrapper .k-pane .k-filter-menu .k-check,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-check {
  color: #428bca;
  border-color: #428bca;
}
.k-pane-wrapper .k-pane .k-filter-menu .k-check:focus,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-check:focus,
.k-pane-wrapper .k-pane .k-filter-menu .k-check.k-state-focused,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-check.k-state-focused {
  border-color: #eef8fc;
  box-shadow: 0 0 3px 0 #2698fb;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-item {
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-item > .k-link:active,
.k-pane-wrapper .k-pane .k-mobile-list .k-item > .k-label:active,
.k-pane-wrapper .k-pane .k-mobile-list .k-item .k-edit-label.k-check:active,
.k-pane-wrapper .k-pane .k-mobile-list .k-item .k-recur-view .k-check:active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #aeaeae;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-item .k-state-selected {
  background-color: #428bca;
  border-top-color: #428bca;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-item:first-child,
.k-pane-wrapper .k-pane .k-mobile-list .k-item.k-clear-wrap {
  box-shadow: inset 0 1px 0 #d2d2d2;
}
.k-pane-wrapper .k-pane .k-mobile-list.k-filter-menu .k-space-right > input {
  background: #fff;
  border-color: #c7c7c7;
}
.k-pane-wrapper .k-pane .k-mobile-list.k-filter-menu .k-space-right > input:focus {
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-check:checked {
  opacity: 1;
  font-family: 'WebComponentsIcons';
}
.k-pane-wrapper .k-pane .k-mobile-list .k-check:checked::before {
  content: "\e118";
}
.k-pane-wrapper .k-pane .k-mobile-list .k-list-title,
.k-pane-wrapper .k-pane .k-mobile-list .k-filter-help-text,
.k-pane-wrapper .k-pane .k-mobile-list .k-filter-selected-items {
  color: #333333;
}
.k-filter .k-filter-preview-field {
  color: #428bca;
}
.k-filter .k-filter-preview-operator {
  color: rgba(51, 51, 51, 0.6);
}
.k-filter .k-filter-item::before,
.k-filter .k-filter-toolbar::before,
.k-filter .k-filter-lines .k-filter-item:last-child > .k-filter-toolbar::after {
  background-color: #cccccc;
}
.k-drawer {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-drawer-wrapper {
  scrollbar-color: rgba(156, 156, 156, 0.7) #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-track {
  background: #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-thumb {
  background: rgba(156, 156, 156, 0.7);
}
.k-drawer-wrapper::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}
.k-drawer-item:hover,
.k-drawer-item.k-state-hover {
  color: #333333;
  background-color: #ebebeb;
  background-image: none;
}
.k-drawer-item:focus,
.k-drawer-item.k-state-focused {
  background-color: #fff;
  box-shadow: inset 0 0 7px 0 #76abd9;
}
.k-drawer-item:focus:hover,
.k-drawer-item.k-state-focused:hover,
.k-drawer-item:focus.k-state-hover,
.k-drawer-item.k-state-focused.k-state-hover {
  color: #333333;
  background-color: #ebebeb;
}
.k-drawer-item.k-state-selected {
  color: #ffffff;
  background-color: #428bca;
}
.k-drawer-item.k-state-selected:hover,
.k-drawer-item.k-state-selected.k-state-hover {
  color: #ffffff;
  background-color: #357ebd;
}
.k-drawer-separator {
  background-color: #cccccc;
}
.k-rating.k-widget {
  background-color: transparent;
}
.k-rating:focus,
.k-rating.k-state-focused {
  box-shadow: none;
}
.k-rating:focus .k-rating-item > .k-icon,
.k-rating.k-state-focused .k-rating-item > .k-icon {
  text-shadow: 0 2px 3.6px rgba(0, 0, 0, 0.1);
}
.k-rating:focus .k-rating-item.k-state-selected > .k-icon,
.k-rating.k-state-focused .k-rating-item.k-state-selected > .k-icon {
  text-shadow: 0 2px 3.6px rgba(66, 139, 202, 0.5);
}
.k-rating-item {
  color: #cccccc;
}
.k-rating-item.k-state-selected {
  color: #428bca;
  background: none;
  box-shadow: none;
}
.k-rating-item.k-state-selected:focus,
.k-rating-item.k-state-selected.k-state-focused {
  color: #428bca;
}
.k-rating-item:hover,
.k-rating-item.k-state-hover {
  color: #428bca;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.k-rating-item:hover.k-state-selected,
.k-rating-item.k-state-hover.k-state-selected {
  box-shadow: none;
}
.k-rating-item:focus,
.k-rating-item.k-state-focused {
  background: none;
  box-shadow: none;
}
.k-rating-item:focus.k-state-selected,
.k-rating-item.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-timeline .k-timeline-flag {
  background-color: #428bca;
  color: #ffffff;
}
.k-timeline .k-timeline-circle {
  background-color: #428bca;
}
.k-timeline .k-timeline-card .k-card-header {
  background-color: #fff;
  color: #333333;
}
.k-timeline .k-timeline-card .k-card-body {
  scrollbar-color: #cccccc #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-track {
  background: #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb {
  background: #cccccc;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}
.k-timeline .k-timeline-date {
  color: #333333;
}
.k-timeline .k-timeline-arrow.k-button:not(.k-flat):not(.k-bare):not(.k-outline):not(.k-overflow-button).k-state-disabled {
  opacity: 1;
  color: #a1a1a1;
  background-color: #fff;
  border-color: #cccccc;
}
.k-timeline-vertical::after,
.k-timeline-horizontal .k-timeline-track-wrap::after {
  background-color: #fff;
  border-color: #cccccc;
}
.k-timeline-horizontal .k-timeline-flag::after {
  background-color: #428bca;
}
.k-in,
.k-item {
  border-color: transparent;
}
.k-splitbar .k-resize-handle {
  background-color: #333333;
}
.k-block,
.k-widget {
  background-color: #fff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-tooltip,
.k-button-group .k-tool,
.k-popup.k-align .k-list .k-item:last-child,
.k-upload-files {
  border-color: #cccccc;
}
.k-group,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-dropzone-hovered,
.k-popup {
  background-color: #f5f5f5;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner,
.k-grid .k-state-selected:hover .k-group-cell {
  background-color: #f5f5f5;
}
.k-list-container {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #fff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #f5f5f5;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: #e1e1e1;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #cccccc;
  background-color: #ebebeb;
}
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #cccccc;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #cccccc;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #333333;
}
.k-input[readonly] {
  background-color: #fff;
  color: #333333;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #333333;
}
.k-inverse {
  color: #fff;
}
.k-block {
  color: #333333;
}
.k-link,
.k-nav-current.k-state-hover .k-link {
  color: #428bca;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #333333;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #333333;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item {
  background-position: 50% 50%;
  background-color: #f5f5f5;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-treemap-tile {
  background-color: #f5f5f5;
}
thead.k-grid-header,
thead.k-grid-header tr:first-child {
  background: transparent;
}
.k-mediaplayer-toolbar {
  background-color: rgba(245, 245, 245, 0.85);
}
.k-hr {
  border-color: #cccccc;
}
.k-badge {
  background-color: #428bca;
  color: #fff;
  border-radius: 3px;
}
.k-tool {
  border-color: transparent;
}
.k-i-loading {
  background-image: url('Bootstrap/loading.gif');
}
.k-loading-image {
  background-image: url('Bootstrap/loading-image.gif');
}
.k-loading-color {
  background-color: #fff;
}
.k-draghandle {
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 0 0 1px #c4c4c4;
}
.k-draghandle:hover {
  border-color: #aeaeae;
  background-color: #ebebeb;
  box-shadow: none;
}
.k-scheduler {
  color: #fff;
  background-color: #fff;
}
.k-scheduler-layout {
  color: #333333;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #fff;
  color: #333333;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #d2d2d2;
}
.k-nonwork-hour,
.k-scheduler-dayview .k-today.k-nonwork-hour,
.k-scheduler-timelineview .k-today.k-nonwork-hour {
  background-color: #f5f5f5;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #eeeeee;
}
.k-scheduler-now-arrow {
  border-left-color: #dbdbdb;
}
.k-scheduler-now-line {
  background-color: #dbdbdb;
}
.k-event,
.k-task-complete {
  border-color: #3174ad;
  background: #3174ad 0 -257px none repeat-x;
  color: #fff;
}
.k-event-inverse {
  color: #333333;
}
.k-event.k-state-selected {
  background-position: 0 0;
  box-shadow: 0 0 0 2px #333333;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #fff;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #428bca;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #fff;
  color: #333333;
  border-color: #cccccc;
}
.k-panelbar > li > .k-link {
  color: #333333;
}
.k-panelbar > .k-item > .k-link {
  border-color: #cccccc;
}
.k-panel > li.k-item {
  background-color: #fff;
}
.k-state-active,
.k-state-active:hover,
.k-active-filter {
  background-color: #fff;
  border-color: #cccccc;
  color: #333333;
}
.k-fieldselector .k-list-container {
  background-color: #fff;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-state-highlight {
  background: #fff;
  color: #333333;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #76abd9;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #428bca;
}
.k-calendar-container.k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #aeaeae;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #aeaeae;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #aeaeae;
  color: #ffffff;
}
.k-popup .k-list .k-item > .k-group {
  background: #aeaeae;
  color: #ffffff;
  border-bottom-left-radius: 3px;
}
.k-marquee-text {
  color: #ffffff;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused {
  box-shadow: inset 0 0 7px 0 #76abd9;
}
.k-popup .k-list .k-state-focused {
  border-radius: 4px;
  box-shadow: inset 0 0 2px 0 #428bca, inset 0 0 7px 0 #76abd9;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 10px 3px #3276b1;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #ffffff;
}
.k-state-hover,
.k-splitbar-horizontal-hover,
.k-splitbar-vertical-hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  color: #333333;
  background-color: #ebebeb;
  border-color: #aeaeae;
}
.k-pager-wrap .k-link.k-state-disabled:hover {
  background-color: #fff;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #aeaeae;
}
.k-textbox:hover,
.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover {
  background-image: none;
}
.k-pager-wrap {
  background-color: #f5f5f5;
  color: #333333;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-image: none;
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #333333;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #ebebeb;
  background-image: none;
  background-position: 50% 50%;
  border-color: #aeaeae;
}
.k-dropdown .k-state-focused .k-input {
  color: #333333;
}
.k-dropdown .k-state-hover .k-input {
  color: #333333;
}
.k-state-error {
  border-color: #dbdbdb;
  background-color: #e3e3e3;
  color: #6b6b6b;
}
.k-ie11 .k-select,
.k-edge .k-select,
.k-ie11 .k-popup-edit-form,
.k-edge .k-popup-edit-form {
  opacity: 0.9;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #a1a1a1;
}
.k-progressbar-indeterminate {
  background: url('Bootstrap/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
.k-slider-track {
  background-color: #cccccc;
}
.k-slider-selection {
  background-color: #428bca;
}
.k-slider-horizontal .k-tick {
  background-image: url('Bootstrap/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Bootstrap/slider-v.gif');
}
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  border-color: #000000;
  background-color: #000000;
  color: #fff;
}
.k-widget.k-tooltip-validation {
  border-color: #fbeed5;
  background-color: #fbeed5;
  color: #90640e;
}
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #000000;
}
.k-callout-w {
  border-right-color: #000000;
}
.k-callout-s {
  border-top-color: #000000;
}
.k-callout-e {
  border-left-color: #000000;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #fbeed5;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #fbeed5;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #fbeed5;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #fbeed5;
}
.k-splitbar {
  background-color: #f5f5f5;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #6b6b6b;
}
.k-file {
  background-color: #fff;
  border-color: #d2d2d2;
}
.k-file-progress {
  color: #2498bc;
}
.k-file-progress .k-progress {
  background-color: #2498bc;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #3ea44e;
}
.k-file-success .k-progress {
  background-color: #3ea44e;
}
.k-file-error {
  color: #d92800;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper {
  color: #d92800;
  border-color: #d92800;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #d92800 #d92800;
}
.k-file-error .k-progress {
  background-color: #d92800;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
  color: #a1a1a1;
  border-color: #a1a1a1;
}
.k-file-invalid .k-file-name-invalid {
  color: #d92800;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
  color: #d92800;
  border-color: #d92800;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #a1a1a1 #a1a1a1;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #d92800 #d92800;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #a1a1a1;
  border-left-color: #a1a1a1;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #d92800;
  border-left-color: #d92800;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #a1a1a1;
}
.k-upload .k-upload-selected {
  color: #428bca;
  border-color: #cccccc;
}
.k-upload .k-upload-selected:hover {
  color: #ffffff;
  background-color: #428bca;
}
.k-tile {
  border-color: #fff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #aeaeae;
}
.k-tiles li.k-state-selected {
  border-color: #428bca;
}
.k-leaf,
.k-leaf.k-state-hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover {
  color: #000;
}
.k-widget {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.k-calendar-container > .k-calendar {
  box-shadow: none;
}
.k-slider,
.k-treeview,
.k-upload,
.k-rating {
  box-shadow: none;
}
.k-state-hover {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-state-selected {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.k-state-active {
  box-shadow: none;
}
.k-grid td.k-state-selected.k-state-focused {
  background-color: #4e92cd;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-treemap-tile.k-state-hover {
  box-shadow: inset 0 0 0 3px #cccccc;
}
.k-window {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.2);
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-inset {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.k-editor-inline ::selection {
  background-color: #428bca;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #428bca;
  text-shadow: none;
  color: #fff;
}
.k-notification {
  border-radius: 4px;
}
.k-notification-info {
  background-color: #e5f5fa;
  color: #2498bc;
  border-color: #bae5f2;
}
.k-notification-success {
  background-color: #eaf7ec;
  color: #3ea44e;
  border-color: #c5e9cb;
}
.k-notification-warning {
  background-color: #fbeed5;
  color: #bf8412;
  border-color: #f7dba6;
}
.k-notification-error {
  background-color: #ffe0d9;
  color: #d92800;
  border-color: #ffb6a6;
}
.k-gantt .k-treelist {
  background: #f5f5f5;
}
.k-gantt .k-treelist .k-alt {
  background-color: #dcdcdc;
}
.k-gantt .k-treelist tr:hover {
  background-color: #ebebeb;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #428bca;
}
.k-task-dot:after {
  background-color: #333333;
  border-color: #333333;
}
.k-task-dot:hover:after {
  background-color: #fff;
}
.k-task-summary {
  border-color: #737373;
  background: #737373;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #333333;
  background: #333333;
}
.k-state-selected.k-task-summary {
  border-color: #a6c8e6;
  background: #a6c8e6;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #428bca;
  background: #428bca;
}
.k-task-single {
  background-color: #3a86c8;
  border-color: #3174ad;
  color: #fff;
}
.k-state-selected.k-task-single {
  border-color: #428bca;
}
.k-line {
  background-color: #333333;
  color: #333333;
}
.k-state-selected.k-line {
  background-color: #428bca;
  color: #428bca;
}
.k-resource {
  background-color: #fff;
}
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload,
.k-split-button {
  border-radius: 4px;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 4px 0 0 4px;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 4px 4px 0;
}
.k-toolbar .k-button-group > .k-group-end {
  border-radius: 4px;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-button + .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 4px 4px 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 4px 0 0 4px;
}
.k-overflow-container .k-button-group .k-button {
  border-radius: 4px;
}
.k-overflow-container .k-separator {
  border-color: #cccccc;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 4px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 4px 4px;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 4px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 4px 4px;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 4px 4px 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 4px 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 4px;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 4px 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 4px 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 3px 3px 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 3px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 3px 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 3px 3px 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 4px 4px 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 4px 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #ebebeb;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 3px 3px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 4px 4px 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 4px 0 0 4px;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 4px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 3px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 3px;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 13px;
}
.k-draghandle {
  border-radius: 13px;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.k-gantt-toolbar > ul.k-gantt-views li:first-child + li,
.k-gantt-toolbar > ul.k-gantt-views li:first-child + li .k-link {
  border-radius: 4px 0 0 4px;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link .k-rtl .k-gantt-toolbar > ul.k-gantt-views li:first-child + li,
.k-rtl .k-gantt-toolbar > ul.k-gantt-views li:first-child + li .k-link {
  border-radius: 0 4px 4px 0;
}
.k-edit-field > .k-scheduler-navigation {
  border-radius: 4px;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link,
.k-gantt-toolbar ul.k-gantt-views li:last-child,
.k-gantt-toolbar ul.k-gantt-views li:last-child .k-link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link,
.k-rtl .k-gantt-toolbar ul.k-gantt-views li:last-child,
.k-rtl .k-gantt-toolbar ul.k-gantt-views li:last-child .k-link {
  border-radius: 4px 0 0 4px;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 4px;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 3px;
}
.k-scheduler-mobile .k-event {
  border-radius: 2px;
}
.k-autocomplete,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-position: 50% 50%;
  background-color: #fff;
  border-color: #cccccc;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #ebebeb;
  background-image: none;
  background-position: 50% 50%;
  border-color: #aeaeae;
}
.k-multiselect-wrap {
  border-color: #cccccc;
}
.k-multiselect-wrap.k-state-hover,
.k-state-hover > .k-multiselect-wrap {
  border-color: #aeaeae;
  background-color: #fff;
  color: #fff;
}
.k-multiselect-wrap.k-state-hover .k-clear-value,
.k-state-hover > .k-multiselect-wrap .k-clear-value {
  color: #333333;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused {
  background-color: #ebebeb;
  background-image: none;
  background-position: 50% 50%;
  border-color: #76abd9;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap {
  border-color: #76abd9;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-list-container {
  color: #333333;
}
.k-nodata {
  color: #a1a1a1;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #333333;
}
.k-state-default > .k-select {
  border-color: #cccccc;
}
.k-state-hover > .k-select {
  border-color: #aeaeae;
}
.k-state-focused > .k-select {
  border-color: #76abd9;
}
.k-tabstrip:focus {
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #428bca;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover {
  color: #333333;
}
.k-panelbar > .k-state-focused.k-state-hover {
  background: #ebebeb;
  box-shadow: none;
}
.k-tabstrip-items .k-item {
  border-color: transparent;
}
.k-tabstrip-items .k-state-hover {
  border-color: #aeaeae;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #fff;
  background-image: none;
  border-color: #cccccc;
}
.k-tabstrip-top > .k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-top > .k-tabstrip-items .k-state-active {
  border-bottom-color: #fff;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #fff;
  color: #333333;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #cccccc;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #cccccc;
}
.k-overflow-container .k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  box-shadow: 0 1px 0 #ffffff;
}
.k-toolbar-last-visible.k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff;
}
.k-toolbar:not(.k-spreadsheet-toolbar) .k-button-group .k-button:focus,
.k-toolbar:not(.k-spreadsheet-toolbar) .k-button.k-state-disabled:focus {
  border-color: #69ace6;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-column-menu .k-separator {
  border-color: #cccccc;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-grid-filter.k-state-active {
  background-color: #fff;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #333333;
  border-color: #cccccc;
  font-weight: bold;
}
.k-grouping-header {
  color: #333333;
}
.k-grid tr:hover {
  background-color: #ebebeb;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-grid td.k-state-focused {
  box-shadow: inset 0 0 0 1px inset 0 0 7px 0 #76abd9;
}
.k-grid tr.k-state-focused:hover td {
  background-color: #d5e5f3;
}
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
  background-color: #3379b5;
}
.k-grid tr:hover .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected:hover td.k-state-focused {
  box-shadow: inset 0 0 7px 0 #193c5a;
}
.k-grid .k-header .k-grid-search {
  background: none;
  background-color: #fff;
  color: #333333;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #cccccc;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 4px;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #69ace6;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-checkbox-label:before {
  border-color: #cccccc;
  background: #fff;
  border-radius: 3px;
}
.k-checkbox:hover + .k-checkbox-label:before,
.k-checkbox:checked:hover + .k-checkbox-label:before,
.k-checkbox-label:hover:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #aeaeae;
  box-shadow: none;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #fff;
  border-color: #cccccc;
  color: #428bca;
}
.k-checkbox:active + .k-checkbox-label:before,
.k-checkbox-label:active:before {
  box-shadow: 0 0 2px 0 #76abd9;
  border-color: #76abd9;
}
.k-checkbox:checked:active + .k-checkbox-label:before,
.k-checkbox:checked + .k-checkbox-label:active:before {
  box-shadow: 0 0 2px 0 #76abd9;
  border-color: #76abd9;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #a1a1a1;
}
.k-checkbox:disabled + .k-checkbox-label:hover:before {
  box-shadow: none;
}
.k-checkbox:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:active:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:before {
  color: #a1a1a1;
  background: #fff;
  border-color: #cccccc;
  border-radius: 3px;
}
.k-checkbox:focus + .k-checkbox-label:before,
.k-checkbox:focus + .k-checkbox-label:hover:before {
  border-color: #76abd9;
  box-shadow: 0 0 2px 0 #76abd9;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
  background-color: #428bca;
  background-image: none;
  border-color: #76abd9;
  border-radius: 2px;
}
.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
  border-color: #428bca;
  background-color: #428bca;
}
.k-radio-label:before {
  border-color: #cccccc;
  border-radius: 50%;
  background-color: #fff;
  border-width: 1px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #aeaeae;
  box-shadow: none;
}
.k-radio:checked + .k-radio-label:after {
  background-color: #428bca;
  border-radius: 50%;
}
.k-radio-label:active:before {
  border-color: #76abd9;
  box-shadow: 0 0 2px 0 #76abd9;
}
.k-radio:checked + .k-radio-label:active:before {
  box-shadow: 0 0 2px 0 #76abd9;
  border-color: #76abd9;
}
.k-radio:disabled + .k-radio-label {
  color: #d2d2d2;
}
.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  background: #fff;
  border-color: #cccccc;
  box-shadow: none;
}
.k-radio:disabled:checked + .k-radio-label:after {
  background-color: #428bca;
  opacity: 0.5;
}
.k-radio:focus + .k-radio-label:before {
  border-color: #76abd9;
  box-shadow: 0 0 2px 0 #76abd9;
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: #fff;
  }
}
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    background-position: 50% 50%;
    background-color: #fff;
    border-color: #cccccc;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 4px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 3px 3px 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 3px 3px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #aeaeae;
    background-image: none;
    background-color: #ebebeb;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: #333333;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #333333;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #cccccc;
    background-color: #f5f5f5;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 4px;
  }
}
.k-grid,
.k-scheduler,
.k-menu,
.k-editor {
  border-radius: 4px;
}
.k-grid > .k-grouping-header,
.k-grid-header:first-child,
.k-grid-toolbar:first-child,
.k-scheduler > .k-scheduler-toolbar:first-child {
  border-radius: 3px 3px 0 0;
}
.k-grid-header:first-child th.k-header:first-child,
thead.k-grid-header th.k-header:first-child,
.k-rtl thead.k-grid-header th.k-header:last-child,
.k-gantt-timeline .k-grid-header:first-child .k-header:first-child,
.k-gantt-timeline thead.k-grid-header .k-header:first-child,
.k-rtl .k-gantt-timeline thead.k-grid-header .k-header:last-child {
  border-radius: 3px 0 0 0;
}
.k-rtl .k-grid-header:first-child th.k-header:first-child,
.k-rtl thead.k-grid-header th.k-header:first-child,
thead.k-grid-header th.k-header:last-child,
.k-rtl .k-gantt-timeline .k-grid-header:first-child .k-header:first-child,
.k-rtl .k-gantt-timeline .k-grid-header .k-header:first-child,
.k-gantt-timeline .k-grid-header .k-header:last-child {
  border-radius: 0 3px 0 0;
}
.k-grid-pager,
.k-scheduler-footer {
  border-radius: 0 0 3px 3px;
}
.k-menu > .k-first {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-menu > .k-first {
  border-radius: 0 3px 3px 0;
}
.k-widget.k-treeview {
  color: #428bca;
}
.k-treeview .k-in.k-state-hover {
  color: #428bca;
}
.k-treeview .k-state-selected,
.k-draghandle.k-state-selected {
  box-shadow: none;
}
.k-tabstrip-items .k-state-hover .k-link {
  color: #428bca;
}
.k-tabstrip-items .k-state-active .k-link {
  color: #333333;
}
.k-tabstrip-items .k-state-active .k-link {
  color: #333333;
}
.k-tabstrip-items .k-item {
  background: transparent;
}
.k-tabstrip-items .k-item.k-state-active {
  background: #fff;
}
.k-tabstrip-items .k-item.k-state-hover {
  background: #ebebeb;
}
.k-tabstrip-items .k-state-focused {
  border-color: #76abd9;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-tabstrip-items .k-state-default.k-state-hover {
  border-color: #ebebeb;
}
.k-multiselect .k-button {
  color: #fff;
  border-color: #357ebd;
  background-color: #428bca;
}
.k-multiselect .k-button.k-state-hover {
  border-color: #285e8e;
  background-color: #3276b1;
}
.k-multiselect .k-button:active {
  color: #fff;
  box-shadow: inset 0 0 10px 3px #3276b1;
}
.k-multiselect.k-state-disabled .k-button {
  color: #fff;
  background-color: #82b2dc;
  border-color: #7aadda;
  box-shadow: none;
}
.k-list > .k-state-hover {
  border-color: #ebebeb;
}
.k-scheduler-toolbar > ul > li {
  background-color: #fff;
  border-color: #cccccc;
}
.k-menu .k-group {
  background: #fff;
}
.k-menu .k-state-default .k-state-border-down {
  background-color: #e8e8e8;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.k-menu .k-item > .k-state-border-right,
.k-menu .k-item > .k-state-border-left {
  background-color: #428bca;
  color: #ffffff;
}
.k-menu .k-state-selected > .k-link {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  background-image: none;
}
.k-menu .k-link.k-state-active,
.k-menu .k-state-hover > .k-link,
.k-menu .k-menu-scroll-button:hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #aeaeae;
  background-image: none;
}
.k-menu .k-state-hover .k-link.k-state-active {
  background-color: #d9d9d9;
}
.k-slider-track {
  background-color: #fff;
  border-color: #cccccc;
  border-radius: 0;
}
.k-slider-selection {
  background-color: #ebebeb;
  border-radius: 0;
}
.k-slider-horizontal .k-tick {
  background-image: url('Bootstrap/slider-h.gif');
}
.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-draghandle.k-state-selected:hover {
  background-color: #cccccc;
  border-color: #cccccc;
}
.k-draghandle.k-state-focused,
.k-draghandle.k-state-focused:link,
.k-slider-buttons .k-button:focus,
.k-slider-buttons .k-button:active {
  box-shadow: 0 0 7px 0 #76abd9;
  border-color: #76abd9;
  background-color: #fff;
}
.k-autocomplete,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-multiselect-wrap {
  border-color: #cccccc;
}
.k-widget.k-autocomplete,
.k-widget.k-combobox,
.k-widget.k-dropdown,
.k-widget.k-datepicker,
.k-widget.k-datetimepicker,
.k-widget.k-timepicker,
.k-widget.k-numerictextbox,
.k-widget.k-multiselect,
.k-widget.k-menu,
.k-widget.k-progressbar,
.k-progressbar > .k-state-selected {
  box-shadow: none;
}
.k-autocomplete .k-input,
.k-combobox .k-state-default .k-input,
.k-picker-wrap.k-state-default .k-input,
.k-numeric-wrap.k-state-default .k-input,
.k-multiselect-wrap,
.k-slider-track,
.k-slider-selection,
.k-progress-status-wrap {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #fff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #76abd9;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap {
  border-color: #76abd9;
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-textbox:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #ebebeb;
  background-image: none;
  background-position: 50% 50%;
  border-color: #aeaeae;
}
.k-autocomplete.k-state-border-down,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-pager-numbers.k-state-expanded .k-current-page .k-link {
  border-color: #cccccc;
  background-color: #ebebeb;
}
.k-grid-filter.k-state-active {
  border-color: #aeaeae;
  background-color: #ebebeb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.k-picker-wrap.k-state-active.k-state-border-down,
.k-dropdown-wrap.k-state-active.k-state-border-down,
.k-numeric-wrap .k-link.k-state-selected,
.k-pager-numbers.k-state-expanded .k-current-page .k-link {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.k-picker-wrap.k-state-focused > .k-select,
.k-picker-wrap.k-state-active > .k-select,
.k-dropdown-wrap.k-state-focused > .k-select,
.k-dropdown-wrap.k-state-active > .k-select {
  border-color: #cccccc;
}
.k-panelbar > .k-item > .k-link {
  border-color: #cccccc;
}
.k-panelbar > li.k-state-default > .k-link {
  color: #333333;
}
.k-panelbar > .k-state-focused {
  box-shadow: inset 0 0 7px 0 #76abd9;
}
.k-panelbar .k-item .k-link.k-state-selected,
.k-panelbar > li > .k-link.k-state-selected {
  color: #ffffff;
}
.k-panelbar .k-link.k-state-selected.k-state-hover {
  color: #333333;
}
td.k-state-focused.k-state-selected,
.k-state-selected td.k-state-focused,
.k-listview > .k-state-focused.k-state-selected {
  box-shadow: inset 0 0 10px 3px #3276b1;
}
.k-panelbar > .k-state-focused.k-state-hover {
  background: #ebebeb;
  box-shadow: none;
}
.k-panelbar > li .k-state-selected.k-state-hover {
  box-shadow: none;
}
.k-pager-wrap {
  color: #a6a6a6;
}
.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
  border-radius: 0;
}
.k-grid tr td {
  border-style: solid;
  border-color: #cccccc;
}
.k-pager-wrap .k-link {
  background: #fff;
  border-color: #cccccc;
  border-right: none;
}
.k-pager-wrap .k-pager-refresh {
  background: #f5f5f5;
}
.k-pager-wrap .k-link:hover {
  color: #428bca;
  border-color: #cccccc;
  background: #ebebeb;
}
.k-grid-header .k-link:link,
.k-grid-header .k-link:visited,
.k-grid-header .k-nav-current.k-state-hover .k-link,
.k-grouping-header .k-link {
  color: #333333;
}
.k-pager-wrap .k-pager-nav.k-pager-last {
  border-radius: 0 4px 4px 0;
  border-right-color: #cccccc;
}
.k-rtl .k-pager-wrap .k-pager-nav.k-pager-last {
  border-radius: 4px 0 0 4px;
  border-right-width: 0;
}
.k-pager-nav.k-pager-first {
  border-radius: 4px 0 0 4px;
}
.k-rtl .k-pager-nav.k-pager-first {
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #cccccc;
  margin-right: 6px;
}
.k-dropzone .k-upload-status {
  color: #333333;
}
.k-file .k-upload-status {
  color: #333333;
}
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  box-shadow: none;
}
.k-window {
  border-color: #cccccc;
}
.k-state-focused {
  box-shadow: 0 0 7px 0 #76abd9;
}
.k-list > .k-state-focused {
  box-shadow: none;
}
.k-popup {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.k-tooltip {
  box-shadow: none;
}
.k-list-container {
  border-color: #cccccc;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle {
  box-shadow: 0 0 0 1px #c4c4c4;
  background: transparent;
  border: 5px solid #fff;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus {
  border-color: #fff;
  box-shadow: 0 0 8px 0 rgba(102, 175, 233, 0.75);
  border-width: 5px;
  padding: 0;
}
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
  margin-right: 0;
}
.k-grid .k-pager-numbers,
.k-pager-wrap > .k-link {
  margin: 0;
}
.k-pager-wrap .k-link {
  border-right: none;
}
.k-pager-wrap .k-link.k-pager-last {
  border-right-width: 1px;
  border-right-style: solid;
}
.k-editor-toolbar .k-tool {
  color: #333333;
  background-color: #fff;
  border-color: #cccccc;
}
.k-editor-toolbar .k-tool.k-state-hover {
  color: #333333;
  border-color: #aeaeae;
  background-color: #ebebeb;
}
.k-editor-toolbar .k-state-selected {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  background-color: #ebebeb;
  border-color: #aeaeae;
}
.k-editor-toolbar .k-button-group .k-tool-icon {
  border-color: #cccccc;
}
.k-splitbar,
.k-splitbar:hover {
  border-color: transparent;
}
.k-pager-nav.k-pager-first + .k-link {
  border-right: 1px solid #cccccc;
}
.k-chart .k-selection {
  border-color: #cccccc;
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: #9e9e9e;
}
.k-chart .k-handle {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.k-chart .k-handle:hover {
  background-color: #ffffff;
  border-color: #cccccc;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}
.k-chart .k-left-handle {
  left: -8px;
}
.k-chart .k-right-handle {
  right: -8px;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #676767;
}
.k-chart .k-navigator-hint .k-scroll {
  background: rgba(0, 124, 204, 0.7);
  height: 4px;
}
.k-chart .k-tooltip,
.k-sparkline .k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  background-image: none;
}
.k-map .k-marker {
  font-size: 28px;
  color: #428bca;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #ebebeb;
  background-image: none;
  color: #000000;
  border-color: #b8b8b8;
}
.k-spreadsheet-top-corner {
  border-color: #b8b8b8;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #b8b8b8 #b8b8b8 transparent;
}
.k-spreadsheet-pane {
  border-color: #b8b8b8;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #d2d2d2;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #b8b8b8;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #fff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(66, 139, 202, 0.2);
  background-color: rgba(66, 139, 202, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #428bca;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #428bca;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #428bca;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #428bca;
  box-shadow: inset 0 0 0 1px #428bca;
}
.k-auto-fill-wrapper .k-tooltip {
  background: #fff;
}
.k-spreadsheet-selection {
  background-color: rgba(66, 139, 202, 0.2);
}
.k-spreadsheet-active-cell {
  box-shadow: inset 0 0 0 1px #428bca;
  background-color: #fff;
}
.k-spreadsheet-active-cell.k-right {
  box-shadow: inset 0 0 0 1px #428bca, inset -1px 0 0 1px #428bca;
}
.k-spreadsheet-active-cell.k-bottom {
  box-shadow: inset 0 0 0 1px #428bca, inset 0 -1px 0 1px #428bca;
}
.k-spreadsheet-active-cell.k-bottom.k-right {
  box-shadow: inset 0 0 0 1px #428bca, inset -1px -1px 0 1px #428bca;
}
.k-spreadsheet-active-cell.k-single {
  color: #333333;
  background-color: #fff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #fff;
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #b8b8b8;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #b8b8b8;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #fff;
  color: #333333;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #428bca;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #428bca;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #428bca;
  border-color: #fff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(66, 139, 202, 0.5);
}
.k-spreadsheet .k-spreadsheet-cell-comment {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.k-spreadsheet .k-spreadsheet-has-comment:after {
  border-color: #428bca #428bca transparent transparent;
}
.k-spreadsheet .k-dirty {
  border-color: #d92800 transparent transparent #d92800;
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #cccccc;
}
.k-spreadsheet-filter {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #d2d2d2;
}
.k-spreadsheet-filter.k-state-active {
  color: #ffffff;
  background-color: #428bca;
}
.k-spreadsheet-filter:hover {
  color: #333333;
  background: #ebebeb;
  border-color: #d7d7d7;
}
.k-action-window .k-action-buttons {
  border-color: #cccccc;
  background: #f5f5f5;
}
.k-spreadsheet-sample {
  color: #808080;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list {
  border-color: #cccccc;
  border-radius: 4px;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 4px;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 4px;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #cccccc;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 4px;
}
.k-spreadsheet-popup .k-separator {
  background-color: #cccccc;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #ebebeb;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #428bca;
  color: #000000;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #3071a9;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #cccccc;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #fff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #fff;
  border-color: #cccccc;
  border-radius: 4px 0 0 4px;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #428bca;
  background-color: rgba(66, 139, 202, 0.15);
}
.k-series-b {
  border-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.15);
}
.k-series-c {
  border-color: #5cb85c;
  background-color: rgba(92, 184, 92, 0.15);
}
.k-series-d {
  border-color: #f2b661;
  background-color: rgba(242, 182, 97, 0.15);
}
.k-series-e {
  border-color: #e67d4a;
  background-color: rgba(230, 125, 74, 0.15);
}
.k-series-f {
  border-color: #da3b36;
  background-color: rgba(218, 59, 54, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #428bca;
  color: #ffffff;
}
.k-spreadsheet-insert-image-dialog {
  border-color: #cccccc;
  border-radius: 4px;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover div,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered div {
  color: #fff;
}
.k-spreadsheet-drawing.k-spreadsheet-active-drawing {
  outline-color: #428bca;
}
.k-spreadsheet-drawing .k-spreadsheet-drawing-handle {
  border-color: #fff;
  background-color: #428bca;
  border-radius: 50%;
}
.k-spreadsheet-drawing-anchor-cell {
  background: rgba(66, 139, 202, 0.2);
}
.k-rtl .k-spreadsheet .k-spreadsheet-has-comment::after {
  border-color: #428bca transparent transparent #428bca;
}
.k-rtl .k-spreadsheet .k-dirty {
  border-color: #d92800 #d92800 transparent transparent;
}
.k-spreadsheet .k-widget[data-property='fontSize'] {
  width: 70px;
}
.k-spreadsheet .k-widget[data-property='format'] {
  width: 100px;
}
.k-spreadsheet .k-widget[data-property='fontFamily'] {
  width: 130px;
}
.k-spreadsheet-name-editor .k-select {
  background-color: #ebebeb;
}
.k-window .k-popup-edit-form .k-edit-field input.k-checkbox {
  margin-top: 1.1em;
}
.k-window .k-popup-edit-form .k-edit-field label.k-checkbox-label {
  margin-top: 0.7em;
}
.k-dialog .k-window-titlebar {
  background: none;
  border-color: #ebebeb;
}
.k-dialog a.k-dialog-action.k-dialog-close {
  cursor: pointer;
  z-index: 10000;
}
.k-dialog .k-content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.k-dialog.k-dialog-titleless .k-content {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 12px 12px;
  border-color: #ebebeb;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  border-top: 1px solid #ebebeb;
  border-radius: 4px;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched {
  -ms-flex-direction: column;
      flex-direction: column;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding: 6px 6px;
}
.k-dialog.k-window-md .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 8.4px 8.4px;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  left: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-right-radius: 4px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-left-radius: 4px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: left;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0;
  margin-right: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-right: 0;
}
.k-editor-dialog .k-tabstrip-items {
  border-color: #cccccc;
}
.k-numeric-wrap .k-i-warning {
  color: #d92800;
  position: absolute;
  top: 0;
  right: 1.9em;
  width: 1.9em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #d92800;
}
.k-numeric-wrap.k-state-invalid .k-select {
  border-color: #d92800;
}
.k-numeric-wrap.k-state-invalid input {
  color: #d92800;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 1.9em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #d92800;
  color: #d92800;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #d92800;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #d92800;
  border-color: #d92800;
}
.k-dateinput.k-state-invalid .k-i-warning {
  margin-left: 0;
  margin-right: 0.7em;
  color: #d92800;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.7em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #d92800;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #d92800;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #d92800;
  margin-left: 0;
  margin-right: 2.1em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.1em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #d92800;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #d92800;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #d92800;
  margin-left: 0;
  margin-right: 4.3em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 4.3em;
}
.k-listbox .k-list-scroller {
  padding: 2px;
  border-color: #cccccc;
  background-color: #fff;
}
.k-listbox .k-item:hover {
  border-color: transparent;
}
.k-listbox .k-item.k-state-focused {
  border-radius: 4px;
  box-shadow: inset 0 0 2px 0 #428bca, inset 0 0 7px 0 #76abd9;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #428bca;
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: #428bca;
}
.k-menu-scroll-button {
  border-color: #cccccc;
  color: #333333;
  background-position: 50% 50%;
  background-color: #f5f5f5;
}
.k-multicheck-wrap .k-item .k-label {
  font-weight: 400;
  margin-bottom: 0;
}
.k-dropdowngrid-popup {
  border-color: #cccccc;
  color: #333333;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-header {
  border-color: #cccccc;
  color: #333333;
  background-color: #f5f5f5;
}
.k-dropdowngrid-popup .k-group-header {
  border-color: #cccccc;
  color: #333333;
  background-color: #f5f5f5;
}
.k-dropdowngrid-popup .k-cell {
  border-color: #cccccc;
}
.k-dropdowngrid-popup .k-item:nth-child(2n) {
  background-color: #f5f5f5;
}
.k-dropdowngrid-popup .k-footer {
  border-color: #cccccc;
  color: #333333;
  background-color: #f5f5f5;
}
.k-dropdowngrid-popup .k-item.k-state-hover {
  border-color: #cccccc;
  color: #333333;
  background-color: #ebebeb;
}
.k-dropdowngrid-popup .k-item.k-state-selected {
  border-color: #cccccc;
  color: #ffffff;
  background-color: #428bca;
}
.k-dropdowngrid-popup .k-group-cell span {
  background-color: #333333;
  color: #fff;
}
.k-grid-list > .k-item.k-last > .k-cell,
.k-grid-list > .k-item.k-last > .k-group-cell,
.k-grid-list > .k-item.k-last > .k-spacer-cell {
  border-bottom-color: #333333;
}
