/** 
 * Kendo UI v2019.3.917 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2019 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #870074;
@base: #2c232b;
@background: #1b141a;

@border-radius: 13px;

@normal-background: #1b141a;
@normal-text-color: #fff;
@normal-gradient: none;
@hover-background: #a7008f;
@hover-text-color: #fff;
@hover-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.0) 100%";
@selected-background: @accent;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.3) 0%, rgba(255,255,255,.1) 100%";

@error: #be5138;
@warning: #e9a71d;
@success: #2b893c;
@info: #0c779b;

@series-a: #a7008f;
@series-b: #ffb800;
@series-c: #3aafff;
@series-d: #99c900;
@series-e: #b20753;
@series-f: #ff4195;

// graphics
@image-folder: "HighContrast";
@texture: url(textures/glass-lighter.png);
@fallback-texture: url(textures/glass-lighter.png);

@import "type-highcontrast.less";
