/** 
 * Kendo UI v2019.3.917 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2019 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
.k-theme-test-class,
.ktb-theme-id-office365 {
  opacity: 0;
}
.ktb-var-accent {
  color: #cde6f7;
}
.ktb-var-base {
  color: #0072c6;
}
.ktb-var-background {
  color: #fff;
}
.ktb-var-border-radius {
  border-radius: 0;
}
.ktb-var-normal-background {
  color: #fff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #333333;
}
.ktb-var-hover-background {
  color: #f4f4f4;
}
.ktb-var-hover-gradient {
  background-image: none;
}
.ktb-var-hover-text-color {
  color: #000;
}
.ktb-var-selected-background {
  color: #cde6f7;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #333333;
}
.ktb-var-error {
  color: #f44336;
}
.ktb-var-warning {
  color: #fff19d;
}
.ktb-var-success {
  color: #43a047;
}
.ktb-var-info {
  color: #1976d2;
}
.ktb-var-series-a {
  color: #0072c6;
}
.ktb-var-series-b {
  color: #5db2ff;
}
.ktb-var-series-c {
  color: #008a17;
}
.ktb-var-series-d {
  color: #82ba00;
}
.ktb-var-series-e {
  color: #ff8f32;
}
.ktb-var-series-f {
  color: #ac193d;
}
.k-grid-norecords-template {
  background-color: #fff;
  border: 1px solid #c9c9c9;
}
.k-button {
  border-radius: 0;
  border-color: #f4f4f4;
  color: #000000;
  background-color: #f4f4f4;
  background-position: 50% 50%;
}
.k-button.k-state-default {
  border-color: #f4f4f4;
}
.k-button:hover,
.k-button.k-state-hover {
  color: #000000;
  border-color: #e2e2e2;
  background-color: #e2e2e2;
}
.k-button:active,
.k-button.k-state-active {
  color: #ffffff;
  background-color: #0072c6;
  border-color: #0072c6;
}
.k-button.k-state-active:hover {
  color: #ffffff;
  border-color: #005b9d;
  background-color: #005b9d;
}
.k-button:focus,
.k-button:focus:hover,
.k-button.k-state-focused,
.k-button.k-state-focused.k-state-disabled,
.k-state-disabled .k-button.k-state-focused {
  border-color: #0072c6;
}
.k-button[disabled],
.k-state-disabled .k-button,
.k-button.k-state-disabled,
.k-button[disabled]:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-button[disabled]:focus,
.k-state-disabled .k-button:focus,
.k-button.k-state-disabled:focus,
.k-button[disabled]:active,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: #000000;
  border-color: #f4f4f4;
  background-color: #f4f4f4;
  box-shadow: none;
  background-image: none;
}
.k-primary {
  color: #ffffff;
  border-color: #0072c6;
  background-color: #0072c6;
}
.k-primary.k-state-default {
  border-color: #0072c6;
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #ffffff;
  border-color: #005b9d;
  background-color: #005b9d;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #ffffff;
  border-color: #00467a;
  background-color: #004c84;
}
.k-primary:focus,
.k-primary:focus:hover,
.k-primary.k-state-focused,
.k-primary.k-state-focused.k-state-disabled,
.k-state-disabled .k-primary.k-state-focused {
  border-color: #00467a;
}
.k-primary[disabled],
.k-state-disabled .k-primary,
.k-primary.k-state-disabled,
.k-primary[disabled]:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover {
  color: #ffffff;
  border-color: #0072c6;
  background-color: #0072c6;
  box-shadow: none;
}
.k-button-group {
  border-radius: 0;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-rtl .k-button-group .k-button {
  border-radius: 0;
}
.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-rtl .k-button-group .k-group-start.k-group-end,
.k-rtl .k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-split-button {
  border-radius: 0;
}
.k-split-button.k-state-border-down > .k-button,
.k-split-button.k-state-border-up > .k-button {
  color: #000000;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  box-shadow: none;
}
.k-split-button:focus {
  border-color: #0072c6;
  outline: none;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: #0072c6;
}
.k-split-button:focus:not(.k-state-disabled) > .k-state-active,
.k-split-button:focus:not(.k-state-disabled) > .k-button:hover {
  color: #000000;
  background-color: #e2e2e2;
  border-color: #0072c6;
  box-shadow: none;
}
.k-split-button.k-state-disabled {
  color: #a5a5a5;
  background: #f4f4f4;
  background-image: none;
}
.k-edit-buttons {
  border-color: #c9c9c9;
  background: #fff;
}
.k-button.k-flat.k-primary,
.k-button.k-bare.k-primary,
.k-button.k-flat.k-primary:hover,
.k-button.k-bare.k-primary:hover,
.k-button.k-flat.k-primary.k-state-hover,
.k-button.k-bare.k-primary.k-state-hover,
.k-button.k-flat.k-primary:active,
.k-button.k-bare.k-primary:active,
.k-button.k-flat.k-primary.k-state-active,
.k-button.k-bare.k-primary.k-state-active,
.k-button.k-flat.k-primary:hover:active,
.k-button.k-bare.k-primary:hover:active,
.k-button.k-flat.k-primary:hover.k-state-active,
.k-button.k-bare.k-primary:hover.k-state-active {
  color: #0072c6;
}
.k-card {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-card .k-card-callout {
  border-color: #c9c9c9;
  background-color: #fff;
}
.k-card-header {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-card-actions {
  border-color: #c9c9c9;
}
.k-card.k-state-primary {
  border-color: #e6f3fb;
  color: #67737c;
  background-color: #f0f8fd;
}
.k-card.k-state-info {
  border-color: #8494a4;
  color: #041525;
  background-color: #b5bfc8;
}
.k-card.k-state-success {
  border-color: #8a9a8b;
  color: #0b1a0c;
  background-color: #b9c2b9;
}
.k-card.k-state-warning {
  border-color: #ffed82;
  color: #806e02;
  background-color: #fff4b4;
}
.k-card.k-state-error {
  border-color: #c48883;
  color: #450804;
  background-color: #dcb7b5;
}
.k-chat {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-chat .k-timestamp {
  text-transform: uppercase;
  opacity: 0.7;
}
.k-chat .k-author {
  font-weight: bold;
}
.k-chat .k-bubble {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border-color: #f4f4f4;
  color: #000000;
  background-color: #f4f4f4;
  transition: box-shadow 0.2s ease-in-out;
  -ms-flex-order: -1;
      order: -1;
}
.k-chat .k-bubble:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}
.k-chat .k-state-selected .k-bubble {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
.k-chat .k-alt .k-bubble {
  border-color: #cde6f7;
  color: #000000;
  background-color: #cde6f7;
}
.k-chat .k-quick-reply {
  border-color: #0072c6;
  color: #0072c6;
  background-color: transparent;
}
.k-chat .k-quick-reply:hover {
  border-color: #0072c6;
  color: #ffffff;
  background-color: #0072c6;
}
.k-chat .k-message-box {
  border-color: inherit;
  color: #333333;
  background-color: #fff;
}
.k-chat .k-message-box .k-button:hover {
  color: #0072c6;
}
.k-chat .k-toolbar-box {
  border-color: inherit;
  color: #333333;
  background-color: #fff;
}
.k-chat .k-toolbar-box .k-button:hover {
  color: #0072c6;
  background: none;
}
.k-chat .k-toolbar-box .k-scroll-button {
  background-color: #fff;
  box-shadow: 0 0 20px 5px #fff;
}
.k-chat .k-toolbar-box .k-scroll-button:hover {
  background-color: #fff;
}
.k-calendar {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-calendar > .k-header {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
  background-image: none;
}
.k-calendar th {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-calendar .k-alt {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #ebebeb;
}
.k-calendar .k-weekend {
  background-color: transparent;
}
.k-calendar .k-other-month {
  color: #a5a5a5;
  background-color: transparent;
}
.k-calendar .k-out-of-range {
  pointer-events: none;
  visibility: hidden;
}
.k-calendar .k-today .k-link {
  color: #cde6f7;
  box-shadow: inset 0 0 0 1px #cde6f7;
}
.k-calendar td.k-state-hover .k-link {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #e2e2e2;
  background-image: none;
}
.k-calendar td.k-state-selected .k-link {
  border-color: #cde6f7;
  color: #333333;
  background-color: #cde6f7;
  background-image: none;
}
.k-calendar td.k-state-focused .k-link {
  box-shadow: inset 0 0 0px 1px #0072c6;
}
.k-calendar .k-footer .k-nav-today {
  color: #0072c6;
}
.k-calendar .k-footer .k-nav-today:hover {
  color: #007eda;
}
.k-calendar-range {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-calendar-range th {
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
}
.k-calendar-range td.k-state-hover .k-link {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #e2e2e2;
}
.k-calendar-range td.k-state-selected .k-link {
  border-color: #cde6f7;
  color: #333333;
  background-color: #cde6f7;
}
.k-calendar-range td.k-state-focused .k-link {
  box-shadow: inset 0 0 0px 1px #0072c6;
}
.k-calendar-range td.k-range-start,
.k-calendar-range td.k-range-mid,
.k-calendar-range td.k-range-end {
  background-image: linear-gradient(transparent 1px, rgba(205, 230, 247, 0.3) 1px, rgba(205, 230, 247, 0.3) calc(100% - 1px), transparent calc(100% - 1px));
}
.k-ie .k-calendar-range td.k-range-start,
.k-ie .k-calendar-range td.k-range-mid,
.k-ie .k-calendar-range td.k-range-end,
.k-edge .k-calendar-range td.k-range-start,
.k-edge .k-calendar-range td.k-range-mid,
.k-edge .k-calendar-range td.k-range-end {
  background-image: none;
  background-color: rgba(205, 230, 247, 0.3);
}
.k-calendar-range td.k-range-split-start::after {
  background-image: linear-gradient(to left, rgba(205, 230, 247, 0.3), transparent);
}
.k-calendar-range td.k-range-split-end::after {
  background-image: linear-gradient(to right, rgba(205, 230, 247, 0.3), transparent);
}
.k-calendar-range .k-footer .k-nav-today {
  color: #cde6f7;
  background: none;
}
.k-pdf-viewer .k-toolbar .k-icon,
.k-pdf-viewer .k-toolbar .k-pager-input {
  color: #000000;
}
.k-pdf-viewer .k-canvas {
  background-color: #fff;
}
.k-pdf-viewer .k-page {
  border-color: #c9c9c9;
  color: #333333;
  background-color: white;
  box-shadow: 0 0 15px #c9c9c9;
}
.k-pdf-viewer .k-search-highlight {
  background-color: #4d4d4d;
}
.k-scrollview-nav > li.k-link {
  border-color: #f4f4f4;
  background-color: #f4f4f4;
  background-clip: padding-box;
}
.k-scrollview-nav > li.k-link.k-primary {
  border-color: #0072c6;
  background-color: #0072c6;
}
.k-scrollview-elements {
  color: #333333;
}
.k-scrollview-next,
.k-scrollview-prev {
  color: inherit;
  background: rgba(0, 0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  opacity: 0.7;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.k-scrollview-next:hover,
.k-scrollview-prev:hover {
  color: #333333;
  opacity: 1;
}
.k-scrollview-next:hover span::before,
.k-scrollview-prev:hover span::before {
  background-color: transparent;
}
.k-switch-handle {
  background-clip: border-box;
}
.k-switch-on .k-switch-container {
  border-color: #bababa;
  color: #333333;
  background-color: #fff;
}
.k-switch-on .k-switch-handle {
  border-color: #0072c6;
  color: #333333;
  background-color: #0072c6;
}
.k-switch-on:focus .k-switch-container,
.k-switch-on.k-state-focused .k-switch-container {
  border-color: #0072c6;
  color: #333333;
  background-color: #fff;
}
.k-switch-on:focus .k-switch-handle,
.k-switch-on.k-state-focused .k-switch-handle {
  border-color: #0072c6;
  color: #333333;
  background-color: #0072c6;
}
.k-switch-on:hover .k-switch-container,
.k-switch-on.k-state-hover .k-switch-container {
  border-color: #8f8f8f;
  color: #333333;
  background-color: #fff;
}
.k-switch-on:hover .k-switch-handle,
.k-switch-on.k-state-hover .k-switch-handle {
  border-color: #005b9d;
  color: #333333;
  background-color: #005b9d;
}
.k-switch-on .k-switch-label-off {
  color: transparent;
}
.k-switch-off .k-switch-container {
  border-color: #bababa;
  color: #333333;
  background-color: #fff;
}
.k-switch-off .k-switch-handle {
  border-color: #f4f4f4;
  color: #333333;
  background-color: #f4f4f4;
}
.k-switch-off:focus .k-switch-container,
.k-switch-off.k-state-focused .k-switch-container {
  border-color: #0072c6;
  color: #333333;
  background-color: #fff;
}
.k-switch-off:focus .k-switch-handle,
.k-switch-off.k-state-focused .k-switch-handle {
  border-color: #0072c6;
  color: #333333;
  background-color: #f4f4f4;
}
.k-switch-off:hover .k-switch-container,
.k-switch-off.k-state-hover .k-switch-container {
  border-color: #8f8f8f;
  color: #333333;
  background-color: #fff;
}
.k-switch-off:hover .k-switch-handle,
.k-switch-off.k-state-hover .k-switch-handle {
  border-color: #ebebeb;
  color: #333333;
  background-color: #ebebeb;
}
.k-switch-off .k-switch-label-on {
  color: transparent;
}
.k-switch {
  background-color: transparent;
  box-shadow: none;
}
.k-switch:focus .k-switch-container,
.k-switch.k-state-focused .k-switch-container {
  outline: none;
}
.k-switch.k-state-disabled {
  cursor: default;
}
.k-switch[aria-readonly="true"] {
  pointer-events: none;
}
.k-pane-wrapper .k-pane > .k-view > .k-content {
  background-position: 50% 50%;
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #333333;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-sort-order,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-asc-sm,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-desc-sm {
  color: #0072c6;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-grid-filter.k-state-active,
.k-pane-wrapper .k-pane .k-grid-mobile .k-header-column-menu.k-state-active {
  color: #fff;
  background-color: #0072c6;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-resize-handle-inner::before {
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-nav-current {
  color: #333333;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendadate {
  color: inherit;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-time-period,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendaweekday {
  color: #bfbfbf;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-wrap,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-datecolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-group-cell,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-all-day {
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-other-month {
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-tools > li,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-navigation {
  background-color: inherit;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header {
  background-color: #cde6f7;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header .k-link {
  color: #333333;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-item,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-item,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-link {
  color: #333333;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-clear,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-clear,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-select-all,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-select-all,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-resetSeries {
  color: #0072c6;
}
.k-pane-wrapper .k-pane .k-column-menu .k-state-selected .k-link {
  color: #0072c6;
}
.k-pane-wrapper .k-pane .k-filter-menu .k-check,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-check {
  color: #0072c6;
  border-color: #0072c6;
}
.k-pane-wrapper .k-pane .k-filter-menu .k-check:focus,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-check:focus,
.k-pane-wrapper .k-pane .k-filter-menu .k-check.k-state-focused,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-check.k-state-focused {
  border-color: #00467a;
  box-shadow: false;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-item {
  background-color: #fff;
  border-bottom: 1px solid #c9c9c9;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-item > .k-link:active,
.k-pane-wrapper .k-pane .k-mobile-list .k-item > .k-label:active,
.k-pane-wrapper .k-pane .k-mobile-list .k-item .k-edit-label.k-check:active,
.k-pane-wrapper .k-pane .k-mobile-list .k-item .k-recur-view .k-check:active {
  color: #000;
  background-color: #f4f4f4;
  border-color: #8f8f8f;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-item .k-state-selected {
  background-color: #cde6f7;
  border-top-color: #cde6f7;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-item:first-child,
.k-pane-wrapper .k-pane .k-mobile-list .k-item.k-clear-wrap {
  box-shadow: inset 0 1px 0 #c9c9c9;
}
.k-pane-wrapper .k-pane .k-mobile-list.k-filter-menu .k-space-right > input {
  background: #fff;
  border-color: #0075cb;
}
.k-pane-wrapper .k-pane .k-mobile-list.k-filter-menu .k-space-right > input:focus {
  box-shadow: none;
}
.k-pane-wrapper .k-pane .k-mobile-list .k-check:checked {
  opacity: 0.6;
  font-family: 'WebComponentsIcons';
}
.k-pane-wrapper .k-pane .k-mobile-list .k-check:checked::before {
  content: "\e118";
}
.k-pane-wrapper .k-pane .k-mobile-list .k-list-title,
.k-pane-wrapper .k-pane .k-mobile-list .k-filter-help-text,
.k-pane-wrapper .k-pane .k-mobile-list .k-filter-selected-items {
  color: #333333;
}
.k-filter .k-filter-preview-field {
  color: #0072c6;
}
.k-filter .k-filter-preview-operator {
  color: rgba(51, 51, 51, 0.6);
}
.k-filter .k-filter-item::before,
.k-filter .k-filter-toolbar::before,
.k-filter .k-filter-lines .k-filter-item:last-child > .k-filter-toolbar::after {
  background-color: #c9c9c9;
}
.k-drawer {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-drawer-wrapper {
  scrollbar-color: rgba(156, 156, 156, 0.7) #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-track {
  background: #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-thumb {
  background: rgba(156, 156, 156, 0.7);
}
.k-drawer-wrapper::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}
.k-drawer-item:hover,
.k-drawer-item.k-state-hover {
  color: #000;
  background-color: #f4f4f4;
  background-image: none;
}
.k-drawer-item:focus,
.k-drawer-item.k-state-focused {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #0072c6;
}
.k-drawer-item:focus:hover,
.k-drawer-item.k-state-focused:hover,
.k-drawer-item:focus.k-state-hover,
.k-drawer-item.k-state-focused.k-state-hover {
  color: #000;
  background-color: #f4f4f4;
}
.k-drawer-item.k-state-selected {
  color: #333333;
  background-color: #cde6f7;
}
.k-drawer-item.k-state-selected:hover,
.k-drawer-item.k-state-selected.k-state-hover {
  color: #333333;
  background-color: #b7dbf3;
}
.k-drawer-separator {
  background-color: #c9c9c9;
}
.k-rating.k-widget {
  background-color: transparent;
}
.k-rating:focus,
.k-rating.k-state-focused {
  box-shadow: none;
}
.k-rating:focus .k-rating-item > .k-icon,
.k-rating.k-state-focused .k-rating-item > .k-icon {
  text-shadow: 0 2px 3.6px rgba(0, 0, 0, 0.1);
}
.k-rating:focus .k-rating-item.k-state-selected > .k-icon,
.k-rating.k-state-focused .k-rating-item.k-state-selected > .k-icon {
  text-shadow: 0 2px 3.6px rgba(205, 230, 247, 0.5);
}
.k-rating-item {
  color: #c9c9c9;
}
.k-rating-item.k-state-selected {
  color: #0072c6;
  background: none;
  box-shadow: none;
}
.k-rating-item.k-state-selected:focus,
.k-rating-item.k-state-selected.k-state-focused {
  color: #0072c6;
}
.k-rating-item:hover,
.k-rating-item.k-state-hover {
  color: #0072c6;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.k-rating-item:hover.k-state-selected,
.k-rating-item.k-state-hover.k-state-selected {
  box-shadow: none;
}
.k-rating-item:focus,
.k-rating-item.k-state-focused {
  background: none;
  box-shadow: none;
}
.k-rating-item:focus.k-state-selected,
.k-rating-item.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-timeline .k-timeline-flag {
  background-color: #0072c6;
  color: #ffffff;
}
.k-timeline .k-timeline-circle {
  background-color: #0072c6;
}
.k-timeline .k-timeline-card .k-card-header {
  background-color: #fff;
  color: #333333;
}
.k-timeline .k-timeline-card .k-card-body {
  scrollbar-color: #c9c9c9 #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-track {
  background: #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb {
  background: #c9c9c9;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb:hover {
  background: #e2e2e2;
}
.k-timeline .k-timeline-date {
  color: #333333;
}
.k-timeline .k-timeline-arrow.k-button:not(.k-flat):not(.k-bare):not(.k-outline):not(.k-overflow-button).k-state-disabled {
  opacity: 1;
  color: #a5a5a5;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.k-timeline-vertical::after,
.k-timeline-horizontal .k-timeline-track-wrap::after {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.k-timeline-horizontal .k-timeline-flag::after {
  background-color: #0072c6;
}
.k-in,
.k-item {
  border-color: transparent;
}
.k-splitbar .k-resize-handle {
  background-color: #333333;
}
.k-block,
.k-widget {
  background-color: #fff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-editor-dialog .k-tabstrip-items,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #c9c9c9;
}
.k-group,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-dropzone-hovered,
.k-popup {
  background-color: #fff;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: #fff;
}
.k-list-container {
  border-color: #c9c9c9;
  background-color: #fff;
}
.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #fff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #fff;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: #ebebeb;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #c9c9c9;
  background-color: #0072c6;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #c9c9c9;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #333333;
}
.k-input[readonly] {
  background-color: #fff;
  color: #333333;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #333333;
}
.k-inverse {
  color: #fff;
}
.k-block {
  color: #333333;
}
.k-link,
.k-nav-current.k-state-hover .k-link {
  color: #0072c6;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #333333;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #333333;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item {
  background-position: 50% 50%;
  background-color: #fff;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-treemap-tile {
  background-color: #fff;
}
.k-mediaplayer-toolbar {
  background: rgba(255, 255, 255, 0.85);
}
.k-hr {
  border-color: #c9c9c9;
}
.k-badge {
  background-color: #cde6f7;
  color: #333333;
  border-radius: 0;
}
.k-tool {
  border-color: transparent;
}
.k-i-loading {
  background-image: url('Office365/loading.gif');
}
.k-loading-image {
  background-image: url('Office365/loading-image.gif');
}
.k-loading-color {
  background-color: #fff;
}
.k-draghandle {
  border-color: #0072c6;
  background-color: #0072c6;
  box-shadow: none;
}
.k-draghandle:hover {
  border-color: #0072c6;
  background-color: #0072c6;
  box-shadow: none;
}
.k-scheduler {
  color: #333333;
  background-color: #fff;
}
.k-scheduler-layout {
  color: #333333;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #fff;
  color: #333333;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #c9c9c9;
}
.k-nonwork-hour {
  background-color: #fff;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-monthview .k-today {
  background-color: #f7f7f7;
}
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  color: #0072c6;
}
.k-scheduler-weekview .k-scheduler-header th.k-today,
.k-scheduler-workWeekview .k-scheduler-header th.k-today {
  position: relative;
}
.k-scheduler-weekview .k-scheduler-header th.k-today:before,
.k-scheduler-workWeekview .k-scheduler-header th.k-today:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #0072c6;
}
.k-scheduler-monthview .k-today {
  position: relative;
}
.k-scheduler-monthview .k-today:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-top: 3px solid #0072c6;
}
.k-scheduler-now-arrow {
  border-left-color: #dbdbdb;
}
.k-scheduler-now-line {
  background-color: #dbdbdb;
}
.k-event,
.k-task-complete {
  border-color: #56b7ff;
  background: #56b7ff 0 -257px none repeat-x;
  color: #333333;
}
.k-event-inverse {
  color: #333333;
}
.k-scheduler-content .k-event.k-state-selected {
  background-position: 0 0;
  box-shadow: 0 0 0 2px #333333, inset 4px 0 0 0 rgba(255, 255, 255, 0.5);
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #fff;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #cde6f7;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #fff;
  color: #333333;
  border-color: #c9c9c9;
}
.k-panelbar > li > .k-link {
  color: #333333;
}
.k-panelbar > .k-item > .k-link {
  border-color: #c9c9c9;
}
.k-panel > li.k-item {
  background-color: #fff;
}
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active {
  background-color: #f4f4f4;
  border-color: #0072c6;
  color: #333333;
}
.k-fieldselector .k-list-container {
  background-color: #fff;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-state-highlight {
  background: #fff;
  color: #333333;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #0072c6;
}
.k-button.k-bare {
  position: relative;
}
.k-button.k-bare:before {
  content: "";
  background-color: currentcolor;
  opacity: 0.12;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.k-button.k-bare.k-state-focused:before,
.k-button.k-bare:focus:before {
  display: block;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #0072c6;
}
.k-mediaplayer-toolbar .k-button.k-bare:active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover:before {
  opacity: 0.24;
}
.k-slider.k-mediaplayer-seekbar {
  top: -14px;
}
.k-calendar-container.k-group {
  border-color: #c9c9c9;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #333333;
  background-color: #cde6f7;
  border-color: #cde6f7;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #8f8f8f;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #8f8f8f;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #8f8f8f;
  color: #333333;
}
.k-popup .k-list .k-item > .k-group {
  background: #8f8f8f;
  color: #fff;
  border-bottom-left-radius: 0;
}
.k-marquee-text {
  color: #333333;
}
.k-state-focused,
.k-list > .k-state-focused,
td.k-state-focused {
  box-shadow: none;
}
.k-listview > .k-state-focused,
.k-listview > .k-state-focused.k-state-selected {
  box-shadow: inset 0 0 0 1px #0072c6;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #333333;
}
.k-state-hover,
.k-splitbar-horizontal-hover,
.k-splitbar-vertical-hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone {
  color: #000;
  background-color: #f4f4f4;
  border-color: #8f8f8f;
}
.k-pager-wrap .k-link.k-state-disabled {
  color: #0072c6;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #8f8f8f;
}
.k-textbox:hover,
.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  background-image: none;
}
.k-pager-wrap {
  background-color: #fff;
  color: #333333;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers,
.k-pager-wrap.k-pager-md .k-pager-numbers,
.k-pager-wrap.k-pager-sm .k-pager-numbers {
  color: #0072c6;
  background-color: #fff;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers.k-state-expanded .k-link:hover,
.k-pager-wrap.k-pager-md .k-pager-numbers.k-state-expanded .k-link:hover,
.k-pager-wrap.k-pager-sm .k-pager-numbers.k-state-expanded .k-link:hover {
  color: #000;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers.k-state-expanded .k-current-page .k-link,
.k-pager-wrap.k-pager-md .k-pager-numbers.k-state-expanded .k-current-page .k-link,
.k-pager-wrap.k-pager-sm .k-pager-numbers.k-state-expanded .k-current-page .k-link {
  color: #ffffff;
  background-color: #0072c6;
  border-color: #0072c6;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers.k-state-expanded .k-state-selected,
.k-pager-wrap.k-pager-md .k-pager-numbers.k-state-expanded .k-state-selected,
.k-pager-wrap.k-pager-sm .k-pager-numbers.k-state-expanded .k-state-selected {
  background-color: #cde6f7;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected {
  background-image: none;
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #000;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #eaeaea;
  background-image: none;
  background-position: 50% 50%;
  border-color: #0072c6;
}
.k-dropdown .k-state-focused .k-input {
  color: #333333;
}
.k-dropdown .k-state-hover .k-input {
  color: #000;
}
.k-state-error {
  border-color: #dbdbdb;
  background-color: #f54c40;
  color: #6b6b6b;
}
.k-state-disabled {
  opacity: 0.6;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #a5a5a5;
}
.k-file .k-upload-status {
  color: #333333;
}
.k-progressbar-indeterminate {
  background: url('Office365/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
.k-slider-track {
  background-color: #c9c9c9;
}
.k-slider-selection {
  background-color: #cde6f7;
}
.k-slider-horizontal .k-tick {
  background-image: url('Office365/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Office365/slider-v.gif');
}
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  border-color: #c9c9c9;
  background-color: #fff;
  color: #333333;
}
.k-widget.k-tooltip-validation {
  border-color: #fff19d;
  background-color: #fff19d;
  color: #6a5b00;
}
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #c9c9c9;
}
.k-callout-w {
  border-right-color: #c9c9c9;
}
.k-callout-s {
  border-top-color: #c9c9c9;
}
.k-callout-e {
  border-left-color: #c9c9c9;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #fff19d;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #fff19d;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #fff19d;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #fff19d;
}
.k-splitbar {
  background-color: #f4f4f4;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #6b6b6b;
}
.k-file {
  background-color: #fff;
  border-color: #c9c9c9;
}
.k-file-progress {
  color: #333333;
}
.k-file-progress .k-progress {
  background-color: #1976d2;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #43a047;
}
.k-file-success .k-progress {
  background-color: #43a047;
}
.k-file-error {
  color: #f44336;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper {
  color: #f44336;
  border-color: #f44336;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before {
  border-color: transparent transparent #f44336 #f44336;
}
.k-file-error .k-progress {
  background-color: #f44336;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
  color: #a5a5a5;
  border-color: #a5a5a5;
}
.k-file-invalid .k-file-name-invalid {
  color: #f44336;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
  color: #f44336;
  border-color: #f44336;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #a5a5a5 #a5a5a5;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #f44336 #f44336;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #a5a5a5;
  border-left-color: #a5a5a5;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #f44336;
  border-left-color: #f44336;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #a5a5a5;
}
.k-upload .k-upload-selected {
  color: #0072c6;
  border-color: #c9c9c9;
}
.k-tile {
  border-color: #fff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #8f8f8f;
}
.k-tiles li.k-state-selected {
  border-color: #cde6f7;
}
.k-leaf,
.k-leaf.k-state-hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover {
  color: #000;
}
.k-slider,
.k-treeview,
.k-upload {
  box-shadow: none;
}
.k-state-hover {
  box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  box-shadow: none;
}
.k-state-selected {
  box-shadow: none;
}
.k-state-active {
  box-shadow: none;
}
.k-grid td.k-state-selected.k-state-focused {
  background-color: #daedf9;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap,
.k-filebrowser .k-image,
.k-tooltip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
}
.k-treemap-tile.k-state-hover {
  box-shadow: inset 0 0 0 3px #c9c9c9;
}
.k-window {
  border-color: rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.18);
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.18);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
}
.k-inset {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.18);
}
.k-editor-inline ::selection {
  background-color: #cde6f7;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #cde6f7;
  text-shadow: none;
  color: #fff;
}
.k-notification {
  border-radius: 0;
}
.k-notification-info {
  background-color: #bbd9f7;
  color: #4d4d4d;
  border-color: #bbd9f7;
}
.k-notification-success {
  background-color: #cbe9cc;
  color: #4d4d4d;
  border-color: #cbe9cc;
}
.k-notification-warning {
  background-color: #fff19d;
  color: #4d4d4d;
  border-color: #fff19d;
}
.k-notification-error {
  background-color: #fccbc7;
  color: #4d4d4d;
  border-color: #fccbc7;
}
.k-gantt .k-treelist {
  background: #fff;
}
.k-gantt .k-treelist .k-alt {
  background-color: #e6e6e6;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #cde6f7;
}
.k-gantt .k-treelist .k-state-selected:hover,
.k-gantt .k-treelist .k-state-selected:hover td {
  background-color: #d7e4ed;
}
.k-task-dot:after {
  background-color: #333333;
  border-color: #333333;
}
.k-task-dot:hover:after {
  background-color: #fff;
}
.k-task-summary {
  border-color: #d1d1d1;
  background: #d1d1d1;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #333333;
  background: #333333;
}
.k-state-selected.k-task-summary {
  border-color: #000;
  background: #000;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #cde6f7;
  background: #cde6f7;
}
.k-task-single {
  background-color: #7ac6ff;
  border-color: #56b7ff;
  color: #333333;
}
.k-state-selected.k-task-single {
  border-color: #cde6f7;
}
.k-line {
  background-color: #333333;
  color: #333333;
}
.k-state-selected.k-line {
  background-color: #cde6f7;
  color: #cde6f7;
}
.k-resource {
  background-color: #fff;
}
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload {
  border-radius: 0;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 0 0 0 0;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 0 0 0;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 0;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 0;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 0 0;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 0 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 0 0 0 0;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #0072c6;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 0;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 0;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 0;
}
.k-draghandle {
  border-radius: 0;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0 0 0 0;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0 0 0 0;
}
.k-edit-field > .k-scheduler-navigation {
  border-radius: 0;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 0 0 0 0;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 0;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 0;
}
.k-scheduler-mobile .k-event {
  border-radius: -1;
}
.k-autocomplete,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-position: 50% 50%;
  background-color: #fff;
  border-color: #bababa;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #eaeaea;
  background-image: none;
  background-position: 50% 50%;
  border-color: #8b8b8b;
}
.k-multiselect-wrap {
  border-color: #bababa;
}
.k-multiselect-wrap.k-state-hover,
.k-state-hover > .k-multiselect-wrap,
.k-multiselect-wrap.k-state-hover {
  border-color: #8b8b8b;
  background: #fff;
  color: #333333;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #eaeaea;
  background-image: none;
  background-position: 50% 50%;
  border-color: #0072c6;
  box-shadow: none;
}
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap {
  border-color: #0072c6;
  box-shadow: none;
}
.k-list-container {
  color: #333333;
}
.k-nodata {
  color: #a5a5a5;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #333333;
}
.k-state-default > .k-select {
  border-color: #bababa;
}
.k-state-hover > .k-select {
  border-color: #8b8b8b;
}
.k-state-focused > .k-select {
  border-color: #0072c6;
}
.k-tabstrip:focus {
  box-shadow: none;
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #333333;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-tabstrip-items .k-state-active .k-link {
  color: #0072c6;
}
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover {
  color: #000;
}
.k-panelbar > li > .k-state-focused.k-state-hover {
  background: #f4f4f4;
  box-shadow: none;
}
.k-tabstrip-items .k-state-default {
  border-color: transparent;
}
.k-tabstrip-items .k-state-hover {
  border-color: #8f8f8f;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #fff;
  background-image: none;
  border-color: #0072c6;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #fff;
  color: #333333;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #fff;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #c9c9c9;
}
.k-overflow-container .k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  box-shadow: 0 1px 0 #ffffff;
}
.k-toolbar-last-visible.k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff;
}
.k-column-menu .k-separator {
  border-color: #c9c9c9;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: #c9c9c9;
}
.k-menu .k-link.k-state-active {
  background-color: #0072c6;
  color: #fff;
}
.k-menu .k-state-hover .k-state-active {
  background-color: #005b9d;
}
.k-grid-filter.k-state-active {
  background-color: #fff;
}
.k-grid-filter.k-state-active .k-icon {
  opacity: 1;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #333333;
  border-color: #c9c9c9;
  font-weight: bold;
}
.k-grouping-header {
  color: #333333;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #c9c9c9;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 0;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #0072c6;
}
.k-checkbox-label:before {
  border-color: #666666;
  background: #fff;
  border-radius: 1px;
}
.k-checkbox:hover + .k-checkbox-label:before,
.k-checkbox:checked:hover + .k-checkbox-label:before,
.k-checkbox-label:hover:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #212121;
  box-shadow: none;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #fff;
  border-color: #666666;
  color: #333333;
}
.k-checkbox:active + .k-checkbox-label:before,
.k-checkbox-label:active:before {
  box-shadow: none;
  border-color: #0072c6;
}
.k-checkbox:checked:active + .k-checkbox-label:before,
.k-checkbox:checked + .k-checkbox-label:active:before {
  box-shadow: none;
  border-color: #0072c6;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #aaaaaa;
}
.k-checkbox:disabled + .k-checkbox-label:hover:before {
  box-shadow: none;
}
.k-checkbox:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:active:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:before {
  color: #aaaaaa;
  background: #fff;
  border-color: #aaaaaa;
  border-radius: 1px;
}
.k-checkbox:focus + .k-checkbox-label:before,
.k-checkbox:focus + .k-checkbox-label:hover:before {
  border-color: #0072c6;
  box-shadow: none;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
  background-color: #666666;
  background-image: none;
  border-color: #666666;
  border-radius: 0px;
}
.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
  border-color: #212121;
  background-color: #212121;
}
.k-radio-label:before {
  border-color: #666666;
  border-radius: 50%;
  background-color: #fff;
  border-width: 1px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #212121;
  box-shadow: none;
}
.k-radio:checked + .k-radio-label:after {
  background-color: #212121;
  border-radius: 50%;
}
.k-radio-label:active:before {
  border-color: #666666;
  box-shadow: none;
}
.k-radio:checked + .k-radio-label:active:before {
  box-shadow: none;
  border-color: #666666;
}
.k-radio:disabled + .k-radio-label {
  color: #aaaaaa;
}
.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  background: #fff;
  border-color: #bfbfbf;
  box-shadow: none;
}
.k-radio:disabled:checked + .k-radio-label:after {
  background-color: #212121;
  opacity: 0.5;
}
.k-radio:focus + .k-radio-label:before {
  border-color: #666666;
  box-shadow: none;
}
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    background-position: 50% 50%;
    background-color: #fff;
    border-color: #c9c9c9;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #8f8f8f;
    background-image: none;
    background-color: #f4f4f4;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: #333333;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #000;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #c9c9c9;
    background-color: #fff;
    border-radius: 0 0 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 0;
  }
}
.k-button:hover .k-icon,
.k-tool-icon:hover,
.k-state-hover .k-tool-icon,
.k-state-selected .k-tool-icon,
.k-state-focused .k-tool-icon,
.k-button:hover .k-tool-icon,
.k-splitbar.k-splitbar-horizontal-hover .k-icon,
.k-splitbar.k-splitbar-vertical-hover .k-icon,
div.k-splitbar.k-state-focused .k-icon,
.k-textbox:hover > .k-icon,
.k-grouping-header .k-i-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-i-delete,
.k-grouping-header .k-i-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-i-delete,
.k-grouping-header .k-i-arrow-60-up,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-up,
.k-grouping-header .k-i-arrow-60-up,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-up,
.k-grouping-header .k-i-arrow-60-down,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-down,
.k-grouping-header .k-i-arrow-60-down,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-down,
.k-grid-toolbar .k-i-file-pdf,
.k-grid-toolbar .k-button:hover > .k-i-file-pdf,
.k-grid-toolbar .k-i-file-excel,
.k-grid-toolbar .k-button:hover > .k-i-file-excel,
.k-grid-toolbar .k-icon,
.k-scheduler-toolbar .k-icon,
.k-scheduler-footer .k-icon,
.k-scheduler-content .k-icon,
.k-gantt-toolbar .k-icon,
.k-field-actions .k-icon,
.k-notification .k-icon,
.k-pivot-configurator-settings .k-icon:hover {
  opacity: 0.8;
}
.k-state-disabled .k-icon,
.k-state-disabled .k-button .k-icon,
.k-button.k-state-disabled .k-icon {
  opacity: 0.3;
}
.k-numerictextbox .k-select,
.k-combobox .k-select,
.k-picker-wrap .k-select {
  border-color: #fff;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused {
  background-color: #fff;
}
.k-textbox.k-state-disabled,
.k-state-disabled .k-picker-wrap,
.k-autocomplete.k-state-disabled,
.k-dropdown-wrap.k-state-disabled,
.k-picker-wrap.k-state-disabled,
.k-multiselect.k-state-disabled,
.k-numeric-wrap.k-state-disabled {
  border-color: #e5e5e5;
}
.k-multiselect-wrap.k-state-disabled,
.k-state-disabled > .k-multiselect-wrap {
  border-color: #e5e5e5;
}
.k-autocomplete.k-state-border-down {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 0;
}
input.k-textbox:focus {
  border-color: #0072c6;
}
.k-multiselect-wrap.k-state-border-up .k-button,
.k-multiselect-wrap.k-state-border-down .k-button,
.k-state-border-up > .k-multiselect-wrap .k-button,
.k-state-border-down > .k-multiselect-wrap .k-button {
  color: #fff;
  background-color: #0072c6;
  border-color: #0072c6;
}
.k-dropdown-wrap.k-state-default.k-state-active,
.k-picker-wrap.k-state-default.k-state-active {
  color: #fff;
  background-color: #0072c6;
  border-color: #0072c6;
}
.k-picker-wrap.k-state-default.k-state-active .k-select,
.k-dropdown-wrap.k-state-default.k-state-active .k-select {
  border-color: #0072c6;
}
.k-dropdown .k-state-default.k-state-active .k-input,
.k-state-selected .k-progress-status {
  color: #fff;
}
.k-list > .k-state-hover {
  border-color: #f4f4f4;
}
.k-list > .k-item.k-state-focused,
.k-treeview .k-in.k-state-focused {
  border-color: #0072c6;
}
.k-list > .k-state-selected {
  background-color: #cde6f7;
  border-color: #cde6f7;
}
.k-popup {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.18);
}
.k-splitbar {
  border-color: #f4f4f4;
}
.k-splitbar-horizontal-hover,
.k-splitbar-vertical-hover {
  background-color: #eaeaea;
  border-color: #eaeaea;
}
.k-splitbar.k-state-focused {
  background-color: #0072c6;
  border-color: #0072c6;
}
.k-marquee-color {
  background-color: #0072c6;
}
.k-grid .k-state-selected,
.k-grid td.k-state-selected.k-state-focused {
  background-color: #cde6f7;
}
.k-grid tr:hover,
.k-gantt .k-treelist tr:hover {
  background-color: #f4f4f4;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-grid tr.k-state-selected:hover,
.k-grid td.k-state-selected:hover {
  background-color: #d7e4ed;
}
.k-gantt .k-treelist .k-alt,
.k-gantt .k-header.k-nonwork-hour {
  background-color: #fff;
}
.k-grid-header th.k-state-focused,
.k-grid td.k-state-focused {
  box-shadow: inset 0 0 0 1px #0072c6;
}
.k-grid td,
.k-grid .k-grouping-header,
.k-header.k-grid-toolbar,
.k-grid-header-wrap {
  border-color: transparent;
}
.k-grid tr th {
  border-left-color: transparent;
}
.k-grid .k-header .k-grid-search {
  background: none;
  background-color: #fff;
  color: #333333;
}
.k-pivot .k-grid-header th.k-header,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  border-color: #c9c9c9;
}
.k-group-footer td {
  border-top-color: #c9c9c9;
}
.k-grouping-header .k-group-indicator {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.k-grouping-header .k-group-indicator .k-link {
  color: #333333;
}
.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-link:hover,
.k-pager-numbers .k-state-selected {
  background: none;
  border-radius: 0;
}
.k-pager-wrap > .k-link,
.k-pager-wrap > .k-link.k-state-disabled:hover,
.k-pager-wrap > .k-link:hover,
.k-pager-numbers .k-link:hover {
  border-radius: 0;
  border-color: transparent;
  background: none;
}
.k-pager-numbers .k-link {
  border-color: transparent;
  color: #333333;
}
.k-pager-numbers .k-state-selected {
  color: #0072c6;
  border-color: #0072c6;
}
.k-progressbar {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.k-progressbar .k-state-default {
  border-color: #e5e5e5 #fff #e5e5e5;
}
.k-progressbar .k-state-selected {
  background-color: #0072c6;
  border-color: #0072c6;
}
.k-progressbar.k-progressbar-vertical .k-state-selected {
  border-color: #0072c6;
}
.k-toolbar .k-button:focus {
  border-color: #0072c6;
}
.k-toolbar .k-button-group .k-button {
  border-color: transparent;
  background: transparent;
}
.k-toolbar .k-button-group .k-button:hover {
  color: #000;
  border-color: #f4f4f4;
  background-color: #f4f4f4;
}
.k-toolbar .k-button-group .k-button.k-state-active,
.k-toolbar .k-button-group .k-button:active {
  color: #333333;
  border-color: #cde6f7;
  background-color: #cde6f7;
}
.k-toolbar .k-button-group .k-button.k-state-disabled {
  color: #a5a5a5;
  border-color: transparent;
  background: transparent;
}
.k-toolbar .k-button-group .k-button:focus {
  border-color: #0072c6;
}
.k-toolbar .k-split-button .k-button {
  border-color: transparent;
  background: transparent;
}
.k-toolbar .k-overflow-anchor {
  color: #333333;
  background-color: #fff;
  border-color: #c9c9c9;
}
.k-toolbar .k-overflow-anchor:hover {
  color: #000000;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
.k-toolbar .k-overflow-anchor.k-state-active {
  border-color: #e2e2e2;
}
.k-toolbar .k-overflow-anchor.k-state-border-down,
.k-toolbar .k-overflow-anchor.k-state-border-up {
  color: #ffffff;
  background-color: #0072c6;
  border-color: #0072c6;
}
.k-overflow-container > .k-state-disabled .k-button:focus,
.k-overflow-container .k-button.k-state-disabled:focus {
  border-color: #0072c6;
}
.k-overflow-container .k-separator {
  color: #c9c9c9;
}
.k-tabstrip.k-header {
  background-color: #f4f4f4;
}
.k-tabstrip .k-item {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.k-tabstrip .k-item.k-state-active {
  background-color: #fff;
  border-color: #fff;
}
.k-tabstrip .k-content {
  border-color: transparent;
}
.k-slider-track {
  background-color: #bababa;
}
.k-slider-selection {
  background-color: #0072c6;
}
.k-draghandle {
  background-color: #0072c6;
  border-color: #0072c6;
}
.k-draghandle:hover,
.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-color: #005b9d;
  border-color: #005b9d;
}
.k-flatcolorpicker .k-selected-color input.k-color-value,
.k-flatcolorpicker .k-hsv-rectangle {
  border-color: #c9c9c9;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle,
.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:focus {
  background-color: #666666;
  border-color: #666666;
}
.k-flatcolorpicker .k-slider-horizontal .k-slider-track {
  box-shadow: none;
}
.k-treeview .k-state-selected {
  color: #0072c6;
  background-color: #fff;
}
.k-scheduler-toolbar .k-link,
.k-gantt-toolbar .k-link {
  color: #333333;
}
.k-scheduler-toolbar .k-state-selected .k-link,
.k-gantt-toolbar .k-state-selected .k-link {
  color: #0072c6;
}
.k-scheduler-toolbar .k-nav-current .k-link,
.k-gantt-toolbar .k-nav-current .k-link {
  color: #0072c6;
}
.k-scheduler .k-scheduler-toolbar ul li,
.k-gantt .k-gantt-toolbar ul li,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-gantt .k-gantt-toolbar ul li.k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-selected,
.k-gantt .k-gantt-toolbar ul li.k-state-selected {
  background-color: #fff;
  border-color: transparent;
}
.k-fieldselector .k-item.k-header {
  border-color: #f4f4f4;
  background-color: #f4f4f4;
}
.k-fieldselector .k-item.k-header.k-state-hover {
  border-color: #e2e2e2;
  background-color: #e2e2e2;
}
.k-scheduler-footer ul li {
  border-color: transparent;
}
.k-scheduler .k-event-template,
.k-scheduler .k-event-inverse {
  color: #fff;
}
.k-scheduler .k-nonwork-hour {
  background-color: #e3f1fb;
}
.k-scheduler-content .k-event {
  box-shadow: inset 4px 0 0 0 rgba(255, 255, 255, 0.5);
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-left-color: transparent;
  border-right-color: transparent;
}
.k-gantt .k-gantt-timeline tr:first-child .k-header {
  border-color: #c9c9c9;
}
.k-gantt .k-treelist .k-alt {
  background-color: #fff;
}
.k-panelbar > li > .k-state-selected,
.k-panelbar > .k-item > .k-link.k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #fff;
  background-color: #0072c6;
}
.k-panelbar .k-state-selected.k-state-hover {
  background-color: #cde6f7;
  color: #000;
}
.k-panelbar.k-header,
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item,
.k-panelbar > .k-item > .k-link {
  border-color: #fff;
}
.k-window > .k-header {
  border-color: transparent;
}
.k-window-titlebar .k-state-hover {
  background-color: transparent;
  border-color: transparent;
}
.k-tooltip-validation,
.k-notification {
  box-shadow: none;
}
.k-editor .k-tool {
  border-color: #fff;
}
.k-editor .k-tool.k-state-selected {
  border-color: #cde6f7;
}
.k-editor .k-tool.k-state-hover {
  border-color: #f4f4f4;
}
.k-webkit .k-nav-current > .k-link span + span,
.k-ff .k-nav-current > .k-link span + span,
.k-ie11 .k-nav-current > .k-link span + span,
.k-edge .k-nav-current > .k-link span + span,
.k-safari .k-nav-current > .k-link span + span {
  max-width: 400px;
}
@media only screen and (max-width: 1420px) {
  .k-webkit .k-nav-current > .k-link span + span,
  .k-ff .k-nav-current > .k-link span + span,
  .k-ie11 .k-nav-current > .k-link span + span,
  .k-edge .k-nav-current > .k-link span + span,
  .k-safari .k-nav-current > .k-link span + span {
    max-width: 200px;
  }
}
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    background-position: 50% 50%;
    background-color: transparent;
    border-color: #c9c9c9;
    border-radius: 0;
    text-align: right;
  }
  .k-webkit .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    text-align: left;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
    padding-top: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #8f8f8f;
    background-image: none;
    background-color: #f4f4f4;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #333333;
    min-width: 20px;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 16px;
    height: 16px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #c9c9c9;
    background-color: #fff;
    border-radius: 0;
    border-width: 1px;
    background-image: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.18);
  }
  .k-webkit .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    text-align: left;
  }
}
.k-chart .k-mask {
  background-color: #fff;
  filter: alpha(opacity=68);
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: #e5e5e5;
}
.k-chart .k-handle {
  width: 15px;
  height: 15px;
  background-color: #00b0ff;
  border-radius: 10px;
}
.k-chart .k-left-handle {
  left: -8px;
}
.k-chart .k-right-handle {
  right: -8px;
}
.k-chart .k-handle:hover {
  background-color: #00b0ff;
  border-color: #00b0ff;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #242424;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #0072c6;
  height: 4px;
}
.k-chart-tooltip {
  background-image: none;
}
.k-map .k-marker {
  font-size: 28px;
  color: #cde6f7;
}
.k-map .k-attribution {
  color: #666666;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
  background-image: none;
  color: #000000;
  border-color: #dadada;
}
.k-spreadsheet-top-corner {
  border-color: #dadada;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #dadada #dadada transparent;
}
.k-spreadsheet-pane {
  border-color: #c8c8c8;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #c8c8c8;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #dadada;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #fff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(0, 114, 198, 0.2);
  background-color: rgba(0, 114, 198, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #0072c6;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #0072c6;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #0072c6;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #0072c6;
  box-shadow: inset 0 0 0 1px #0072c6;
}
.k-auto-fill-wrapper .k-tooltip {
  background: #fff;
}
.k-spreadsheet-selection {
  background-color: rgba(0, 114, 198, 0.2);
}
.k-spreadsheet-active-cell {
  box-shadow: inset 0 0 0 1px #0072c6;
  background-color: #fff;
}
.k-spreadsheet-active-cell.k-right {
  box-shadow: inset 0 0 0 1px #0072c6, inset -1px 0 0 1px #0072c6;
}
.k-spreadsheet-active-cell.k-bottom {
  box-shadow: inset 0 0 0 1px #0072c6, inset 0 -1px 0 1px #0072c6;
}
.k-spreadsheet-active-cell.k-bottom.k-right {
  box-shadow: inset 0 0 0 1px #0072c6, inset -1px -1px 0 1px #0072c6;
}
.k-spreadsheet-active-cell.k-single {
  color: #333333;
  background-color: #fff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #fff;
  border-color: #c9c9c9;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #dadada;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #dadada;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #fff;
  color: #333333;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #cde6f7;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #cde6f7;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #0072c6;
  border-color: #fff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(0, 114, 198, 0.5);
}
.k-spreadsheet .k-spreadsheet-cell-comment {
  color: #333333;
  background-color: #fff;
  border-color: #c9c9c9;
}
.k-spreadsheet .k-spreadsheet-has-comment:after {
  border-color: #0072c6 #0072c6 transparent transparent;
}
.k-spreadsheet .k-dirty {
  border-color: #f44336 transparent transparent #f44336;
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #c9c9c9;
}
.k-spreadsheet-filter {
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #c8c8c8;
}
.k-spreadsheet-filter.k-state-active {
  color: #333333;
  background-color: #cde6f7;
}
.k-spreadsheet-filter:hover {
  color: #000;
  background: #f4f4f4;
  border-color: #e0e0e0;
}
.k-action-window .k-action-buttons {
  border-color: #c9c9c9;
  background: #fff;
}
.k-spreadsheet-sample {
  color: #808080;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list {
  border-color: #c9c9c9;
  border-radius: 0;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #c9c9c9;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 0;
}
.k-spreadsheet-popup .k-separator {
  background-color: #c9c9c9;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #f4f4f4;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #cde6f7;
  color: #ffffff;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #a1d0f0;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #c9c9c9;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #fff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #fff;
  border-color: #c9c9c9;
  border-radius: 0 0 0 0;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #0072c6;
  background-color: rgba(0, 114, 198, 0.15);
}
.k-series-b {
  border-color: #5db2ff;
  background-color: rgba(93, 178, 255, 0.15);
}
.k-series-c {
  border-color: #008a17;
  background-color: rgba(0, 138, 23, 0.15);
}
.k-series-d {
  border-color: #82ba00;
  background-color: rgba(130, 186, 0, 0.15);
}
.k-series-e {
  border-color: #ff8f32;
  background-color: rgba(255, 143, 50, 0.15);
}
.k-series-f {
  border-color: #ac193d;
  background-color: rgba(172, 25, 61, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #cde6f7;
  color: #333333;
}
.k-spreadsheet-insert-image-dialog {
  border-color: #c9c9c9;
  border-radius: 0;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover div,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered div {
  color: #fff;
}
.k-spreadsheet-drawing.k-spreadsheet-active-drawing {
  outline-color: #0072c6;
}
.k-spreadsheet-drawing .k-spreadsheet-drawing-handle {
  border-color: #fff;
  background-color: #0072c6;
  border-radius: 50%;
}
.k-spreadsheet-drawing-anchor-cell {
  background: rgba(0, 114, 198, 0.2);
}
.k-rtl .k-spreadsheet .k-spreadsheet-has-comment::after {
  border-color: #0072c6 transparent transparent #0072c6;
}
.k-rtl .k-spreadsheet .k-dirty {
  border-color: #f44336 #f44336 transparent transparent;
}
.k-spreadsheet-sheets-bar {
  background-color: #f4f4f4;
}
.k-spreadsheet-sheets-bar .k-item,
.k-spreadsheet-sheets-bar .k-item.k-state-active {
  border-color: #dadada;
}
.k-window .k-popup-edit-form .k-edit-field label.k-checkbox-label {
  margin-top: 0.3em;
}
.k-dialog .k-window-title {
  font-size: 1.2em;
}
.k-dialog a.k-dialog-action.k-dialog-close.k-button.k-bare:before {
  content: normal;
}
.k-dialog.k-alert .k-window-titlebar,
.k-dialog.k-confirm .k-window-titlebar,
.k-dialog.k-prompt .k-window-titlebar {
  border-bottom: none;
}
.k-dialog.k-alert .k-window-titlebar .k-dialog-title,
.k-dialog.k-confirm .k-window-titlebar .k-dialog-title,
.k-dialog.k-prompt .k-window-titlebar .k-dialog-title {
  color: #333333;
}
.k-dialog.k-alert .k-content,
.k-dialog.k-confirm .k-content,
.k-dialog .k-content {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.k-dialog.k-alert .k-content,
.k-dialog.k-confirm .k-content,
.k-dialog.k-prompt .k-content,
.k-dialog.k-prompt {
  text-align: left;
}
.k-dialog.k-dialog-titleless .k-content {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 12px 12px;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-left-radius: 0;
  border-left: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-right-radius: 0;
  border-right: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  border-top: solid 1px #c9c9c9;
  background: #fff;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 1em;
  border-radius: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-left: 0;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched {
  -ms-flex-direction: column;
      flex-direction: column;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding: 6px 6px;
}
.k-dialog.k-window-md .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 8.4px 8.4px;
}
.k-rtl .k-dialog .k-window-titlebar .k-dialog-title {
  padding-right: 0;
  padding-left: 2em;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  left: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-right-radius: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-left-radius: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: left;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0;
  margin-right: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-right: 0;
}
.k-mediaplayer .k-toolbar > * {
  margin-top: -0.1em;
}
.k-mediaplayer .k-toolbar .k-button-icon {
  margin-top: 0.2em;
}
.k-mediaplayer .k-mediaplayer-currenttime {
  margin-top: 0;
}
.k-mediaplayer .k-align-right {
  margin-top: 0;
}
.k-mediaplayer .k-align-right .k-mediaplayer-volume {
  margin: -2px 6px 0;
}
.k-numeric-wrap .k-i-warning {
  color: #f44336;
  position: absolute;
  top: 0;
  right: 1.9em;
  width: 1.9em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #f44336;
}
.k-numeric-wrap.k-state-invalid input {
  color: #f44336;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 1.9em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #f44336;
  color: #f44336;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #f44336;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #f44336;
  border-color: #f44336;
}
.k-dateinput.k-state-invalid .k-i-warning {
  margin-left: 0;
  margin-right: 0.6em;
  color: #f44336;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.6em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #f44336;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #f44336;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #f44336;
  margin-left: 0;
  margin-right: 2.1em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.1em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #f44336;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #f44336;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #f44336;
  margin-left: 0;
  margin-right: 5.6em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 5.6em;
}
.k-listbox .k-list-scroller {
  border-color: #c9c9c9;
  background-color: #fff;
}
.k-listbox .k-item {
  padding: 1px 7px 1px 7px;
}
.k-listbox .k-item:hover:not(.k-state-selected):not(.k-state-disabled) {
  color: #000;
  background-color: #f4f4f4;
  border-color: transparent;
}
.k-listbox .k-state-selected {
  border-color: transparent;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #cde6f7;
}
.k-grid-header .k-link .k-icon.k-i-sort-asc-sm,
.k-grid-header .k-link .k-icon.k-i-sort-desc-sm,
.k-grid-header .k-link .k-sort-order {
  color: #0072c6;
  margin-top: 0;
}
.k-menu-scroll-button {
  border-width: 0;
  box-shadow: none;
  border-color: #c9c9c9;
  color: #333333;
  background-position: 50% 50%;
  background-color: #fff;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-left {
  border-right-width: 1px;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-right {
  border-left-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-up {
  border-bottom-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-down {
  border-top-width: 1px;
}
.k-dropdowngrid-popup {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-header {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-group-header {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-cell {
  border-color: #c9c9c9;
}
.k-dropdowngrid-popup .k-item:nth-child(2n) {
  background-color: #fff;
}
.k-dropdowngrid-popup .k-footer {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-item.k-state-hover {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #f4f4f4;
}
.k-dropdowngrid-popup .k-item.k-state-selected {
  border-color: #c9c9c9;
  color: #333333;
  background-color: #cde6f7;
}
.k-dropdowngrid-popup .k-group-cell span {
  background-color: #333333;
  color: #fff;
}
.k-grid-list > .k-item.k-last > .k-cell,
.k-grid-list > .k-item.k-last > .k-group-cell,
.k-grid-list > .k-item.k-last > .k-spacer-cell {
  border-bottom-color: #333333;
}
.k-calendar .k-today .k-link {
  color: #0072c6;
  box-shadow: inset 0 0 0 1px #0072c6;
}
