
button
{
    color: white !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0 !important;
}

input, table, tr, td, .k-picker-wrap, .k-widget, .k-dropdown-wrap,a,div,textarea
{
    border-radius: 0 !important;
}

button:hover
{
    opacity:.75;
}

.k-button[disabled]
{
    border-color: #cfd1d3 !important;
}

input.k-textbox,
.k-numerictextbox,
.k-dropdown,
.k-datepicker
{
    width: 100%;
    height: 34px !important;
}



.k-state-disabled,
.k-state-disabled input,
.k-state-disabled.k-checkbox-label::before
{
        background-color: #eee !important;
        border-color: #b6b6b6 !important;
        color: #a1a1a1 !important;
}


   
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap
{
    height: 32px;
}

.k-dropdown-wrap:hover,
.k-picker-wrap:hover,
.k-numeric-wrap:hover
{
    background-color: white
}

label.k-radio-label
{
    float:left;
}


.k-grid {
    background-color: #f5f5f5;
    margin-top:10px;
}

.k-grid .k-grid-header
{
    border-top-style:solid;
    border-top-width:1px;
    border-left-style:none;
}

.k-grid .k-grid-toolbar
{
    border-style:none;
}
.k-grid .k-grid-content 
{
    background-color:white;
}

.k-grid .k-grid-header tr th 
{
    border-left: none;
    border-right: solid;
    border-right-color: #ccc;
    border-right-width: .5px;
}

.k-grid tr
{
    background-color:white;
}

.k-grid tr td 
{
    border: none;
}

.k-grid .k-grid-content 
{
    border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
}

.k-grid .k-grid-pager 
{
    border:none;
}
.k-grid .k-grid-header-wrap 
{
    border-right:none;
}

.k-edit-form-container  
{
width:100%;
}

.k-state-selected
{
    background-color: #76abd9 !important;
}


.k-grid table tbody tr td .k-button-icontext:hover
{
    background-color: #76abd9;
    color:white
}

.glyphicon {
    font-family: inherit;
    font-size: 12px;
}

    .glyphicon:before {
        font-family: 'Glyphicons Halflings';
        padding-right: 5px;
    }

.k-grid-norecords-template 
{
    width: 100%;
    border-style: none;
}

.k-i-update::before {
    content: "\f058";
        color:black;
}

.k-i-edit::before {
    content: "\f040";
}
.k-i-delete::before {
    content: "\f00d";
}
.k-i-delete::before {
    content: "\f00d";
}

/*.k-grid-add span::before 
{
    content: "\f00d"
}*/
.k-grid-update,
.k-grid-cancel,
.k-grid-edit,
.k-grid-delete,
.k-grid-add,
.k-grid-Note,
.k-grid-LoadTimesheet,
.k-grid-GoToTimesheet,
.k-grid-LoadLog
{
    min-width: 10px !important;
    width: 40px;
    color: black;
    background-color: white;
    height: 35px;
    padding-top: 7px;
    padding-right: 22px;
    border-radius: 50px !important;
}

.k-grid-GoToTimesheet,
.k-grid-LoadLog,
.k-grid-LoadTimesheet
{
    padding-top: 10px;
}

.k-grid-LoadTimesheet
{
    padding-left:11px
}
.k-tooltip
{
    background-color: #13327e !important;
    border-color: white !important;
    border-width: thin;
    border-style:solid;
    /*color: black !important;*/
}