﻿body
{
    background-image: url('Images/bg.jpg');
    color: white;
    font-size: 16px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom:80px;
   
}

.div
{
    display: block;
}

.loginBoxIn
{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 320px;
    width: auto;
}


.loginBoxOut
{
    color: white;
    width: 380px;
    position: relative;
    left: 150px;
    padding: 10px 0px 20px 0px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
   
}

    .loginBoxOut img
    {
        width: 100%
    }

.loginBoxIn img
{
   margin-bottom:20px;
}


.loginField
{
    height: 25px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    color: black;
    padding: 10px;
}

.h1
{
    font-size: 3em;
    color: white;
}

p
{
    font-size: 16px;
    color: white;
}

.loginFormElement {
    background-color: white;
    color: #13143F;
    padding: 8px 20px;
    font-weight: 400;
    display: inline-block;
    font-size: 18px;
    margin: 8px 0px;
    width: 100%;
    border-radius: .5rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

    .loginFormElement:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }

    .greyButton {
        background-color: lightgray;
        cursor: pointer;
    }

.yellowButton
{
    background-color: #ffde00;
    cursor: pointer;
}

.blueButton {
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    color: white;
    border-radius:.5rem;
}

    .blueButton:hover {
        background-color: #0256b1;
        border-color: #0256b1;
    }

.noPaddingRight
{
    padding-right: 0px;
}

.forgotPassword, .rememberMe
{
    color: white;
    width: 320px;
    font-size: 16px;
    display: inline-block;
}



::-moz-placeholder
{ /* Firefox 19+ */
    color: gray;
    text-align: center;
    font-size: 18px;
}



:-moz-placeholder
{ /* Firefox 18- */
    color: gray;
    text-align: center;
    font-size: 18px;
}

footer
{
    align-items: center;
    width: 100%;
}

    footer p
    {
        color: black;
        font-weight: 500;
        margin-left: 30%;
        margin-right: 50%;
        min-width: 800px;
    }

.errorMsg label
{
    color: red;
    font-weight: 200;
}

.error
{
    color: red;
    font-weight: 200;
}
